interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_nsg?api-version=2016-02-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nsg","name":"cli_test_nsg","location":"local","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"location": "local"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nsg/providers/Microsoft.Network/networkSecurityGroups/test-nsg1?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"name\": \"test-nsg1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nsg/providers/Microsoft.Network/networkSecurityGroups/test-nsg1\"\
        ,\r\n  \"etag\": \"W/\\\"788de1a0-3a9d-4376-a712-25bad1a9fbf3\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/networkSecurityGroups\",\r\n  \"location\"\
        : \"local\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\"\
        ,\r\n    \"resourceGuid\": \"2faa821a-1835-4ae4-9673-2043fce599bb\",\r\n \
        \   \"securityRules\": [],\r\n    \"defaultSecurityRules\": [\r\n      {\r\
        \n        \"name\": \"AllowVnetInBound\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nsg/providers/Microsoft.Network/networkSecurityGroups/test-nsg1/defaultSecurityRules/AllowVnetInBound\"\
        ,\r\n        \"etag\": \"W/\\\"788de1a0-3a9d-4376-a712-25bad1a9fbf3\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\"\
        ,\r\n          \"description\": \"Allow inbound traffic from all VMs in VNET\"\
        ,\r\n          \"protocol\": \"*\",\r\n          \"sourcePortRange\": \"*\"\
        ,\r\n          \"destinationPortRange\": \"*\",\r\n          \"sourceAddressPrefix\"\
        : \"VirtualNetwork\",\r\n          \"destinationAddressPrefix\": \"VirtualNetwork\"\
        ,\r\n          \"access\": \"Allow\",\r\n          \"priority\": 65000,\r\n\
        \          \"direction\": \"Inbound\"\r\n        }\r\n      },\r\n      {\r\
        \n        \"name\": \"AllowAzureLoadBalancerInBound\",\r\n        \"id\":\
        \ \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nsg/providers/Microsoft.Network/networkSecurityGroups/test-nsg1/defaultSecurityRules/AllowAzureLoadBalancerInBound\"\
        ,\r\n        \"etag\": \"W/\\\"788de1a0-3a9d-4376-a712-25bad1a9fbf3\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/local/operations/2d9363e4-8893-410d-9b80-2b986a26b3a8?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"status\": \"Succeeded\"\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"name": "web", "properties": {"sourcePortRange": "*", "destinationAddressPrefix":
      "1234", "sourceAddressPrefix": "789", "destinationPortRange": "4444", "protocol":
      "*", "priority": 1000, "access": "Allow", "direction": "Inbound"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nsg/providers/Microsoft.Network/networkSecurityGroups/test-nsg1/securityRules/web?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"name\": \"web\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nsg/providers/Microsoft.Network/networkSecurityGroups/test-nsg1/securityRules/web\"\
        ,\r\n  \"etag\": \"W/\\\"dadf73a1-7933-4559-b267-b478c19de61a\\\"\",\r\n \
        \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"\
        protocol\": \"*\",\r\n    \"sourcePortRange\": \"*\",\r\n    \"destinationPortRange\"\
        : \"4444\",\r\n    \"sourceAddressPrefix\": \"789\",\r\n    \"destinationAddressPrefix\"\
        : \"1234\",\r\n    \"access\": \"Allow\",\r\n    \"priority\": 1000,\r\n \
        \   \"direction\": \"Inbound\"\r\n  }\r\n}"}
    headers:
      Azure-AsyncOperation: ['https://adminmanagement.local.azurestack.external/subscriptions/2c966402-b31d-4a3e-a3dc-397286c0c609/providers/Microsoft.Network/locations/local/operations/32843c15-832f-48a6-bb4f-f5363ba21925?api-version=2015-06-15']
      Content-Type: [application/json; charset=utf-8]
      Retry-After: ['10']
      x-ms-ratelimit-remaining-subscription-writes: ['1154']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nsg/providers/Microsoft.Network/networkSecurityGroups/test-nsg1/securityRules/web?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"name\": \"web\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nsg/providers/Microsoft.Network/networkSecurityGroups/test-nsg1/securityRules/web\"\
        ,\r\n  \"etag\": \"W/\\\"79cf1fec-cc26-48a7-a7a7-71ca6cf29fc5\\\"\",\r\n \
        \ \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"\
        protocol\": \"*\",\r\n    \"sourcePortRange\": \"*\",\r\n    \"destinationPortRange\"\
        : \"4444\",\r\n    \"sourceAddressPrefix\": \"789\",\r\n    \"destinationAddressPrefix\"\
        : \"1234\",\r\n    \"access\": \"Allow\",\r\n    \"priority\": 1000,\r\n \
        \   \"direction\": \"Inbound\"\r\n  }\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"79cf1fec-cc26-48a7-a7a7-71ca6cf29fc5"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/networkSecurityGroups?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"nsgbalavmgroup\"\
        ,\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/balavmgroup/providers/Microsoft.Network/networkSecurityGroups/nsgbalavmgroup\"\
        ,\r\n      \"etag\": \"W/\\\"56542395-2dfa-4de9-9d29-db68b0f5628a\\\"\",\r\
        \n      \"type\": \"Microsoft.Network/networkSecurityGroups\",\r\n      \"\
        location\": \"local\",\r\n      \"tags\": {\r\n        \"displayName\": \"\
        NetworkSecurityGroup\"\r\n      },\r\n      \"properties\": {\r\n        \"\
        provisioningState\": \"Succeeded\",\r\n        \"resourceGuid\": \"be87422e-49ab-4adf-8f63-7c4d171d6d45\"\
        ,\r\n        \"securityRules\": [\r\n          {\r\n            \"name\":\
        \ \"rule1\",\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/balavmgroup/providers/Microsoft.Network/networkSecurityGroups/nsgbalavmgroup/securityRules/rule1\"\[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nsg/providers/Microsoft.Network/networkSecurityGroups?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"test-nsg1\"\
        ,\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/reso[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nsg/providers/Microsoft.Network/networkSecurityGroups/test-nsg1/securityRules?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"web\",\r\n \
        \     \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nsg/providers/Microsoft.Network/networkSecurityGroups/test-nsg1/securityRules/web\"\
        ,\r\n      \"etag\": \"W/\\\"79cf1fec-cc26-48a7-a7a7-71ca6cf29fc5\\\"\",\r\
        \n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\"\
        ,\r\n        \"protocol\": \"*\",\r\n        \"sourcePortRange\": \"*\",\r\
        \n        \"destinationPortRange\": \"4444\",\r\n        \"sourceAddressPrefix\"\
        : \"789\",\r\n        \"destinationAddressPrefix\": \"1234\",\r\n        \"\
        access\": \"Allow\",\r\n        \"priority\": 1000,\r\n        \"direction\"\
        : \"Inbound\"\r\n      }\r\n    }\r\n  ]\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nsg/providers/Microsoft.Network/networkSecurityGroups/test-nsg1/securityRules/web?api-version=2015-06-15
  response:
    body: {string: ''}
    headers:
      Azure-AsyncOperation: ['https://adminmanagement.local.azurestack.external/subscriptions/2c966402-b31d-4a3e-a3dc-397286c0c609/providers/Microsoft.Network/locations/local/operations/cd2afc4d-e6f0-46fd-9c20-2830685d1cf0?api-version=2015-06-15']
      Location: ['https://adminmanagement.local.azurestack.external/subscriptions/2c966402-b31d-4a3e-a3dc-397286c0c609/providers/Microsoft.Network/locations/local/operationResults/cd2afc4d-e6f0-46fd-9c20-2830685d1cf0?api-version=2015-06-15']
      Retry-After: ['10']
      x-ms-ratelimit-remaining-subscription-writes: ['1151']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nsg/providers/Microsoft.Network/networkSecurityGroups?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"value\": []\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
