interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27cli_test_load_balancer%27%20and%20name%20eq%20%27None%27%20and%20resourceType%20eq%20%27Microsoft.Network%2FpublicIPAddresses%27&api-version=2016-02-01
  response:
    body: {string: '{"value":[]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {"templateLink": {"uri": "https://azuresdkci.blob.core.windows.net/templatehost/CreateLb_2016-07-19/azuredeploy.json"},
      "mode": "Incremental", "parameters": {"_artifactsLocation": {"value": "https://azuresdkci.blob.core.windows.net/templatehost/CreateLb_2016-07-19"},
      "frontendIpName": {"value": "LoadBalancerFrontEnd"}, "dnsNameType": {"value":
      "none"}, "subnetAddressPrefix": {"value": "10.0.0.0/24"}, "subnetType": {"value":
      "none"}, "vnetAddressPrefix": {"value": "10.0.0.0/16"}, "publicIpAddressType":
      {"value": "new"}, "publicIpAddressAllocation": {"value": "dynamic"}, "loadBalancerName":
      {"value": "lb1"}, "privateIpAddressAllocation": {"value": "dynamic"}}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_load_balancer/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2015-11-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer/providers/Microsoft.Resources/deployments/azurecli1491511632.017573484644","name":"azurecli1491511632.017573484644","properties":{"templateLink":{"uri":"https://azuresdkci.blob.core.windows.net/templatehost/CreateLb_2016-07-19/azuredeploy.json","contentVersion":"1.0.0.0"},"templateHash":"14860532557960885618","parameters":{"_artifactsLocation":{"type":"String","value":"https://azuresdkci.blob.core.windows.net/templatehost/CreateLb_2016-07-19"},"backendPoolName":{"type":"String","value":"lb1bepool"},"dnsNameType":{"type":"String","value":"none"},"frontendIpName":{"type":"String","value":"LoadBalancerFrontEnd"},"loadBalancerName":{"type":"String","value":"lb1"},"location":{"type":"String","value":"local"},"privateIpAddress":{"type":"String","value":""},"privateIpAddressAllocation":{"type":"String","value":"dynamic"},"publicIpAddress":{"type":"String","value":"PublicIPlb1"},"publicIpAddressAllocation":{"type":"String","value":"dynamic"},"publicIpAddressType":{"type":"String","value":"new"},"publicIpDnsName":{"type":"String","value":""},"subnet":{"type":"String","value":""},"subnetAddressPrefix":{"type":"String","value":"10.0.0.0/24"},"subnetType":{"type":"String","value":"none"},"tags":{"type":"Object","value":{}},"virtualNetworkName":{"type":"String","value":""},"vnetAddressPrefix":{"type":"String","value":"10.0.0.0/16"}},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2017-04-06T20:47:12.5980741Z","duration":"PT0.1013144S","correlationId":"f03b2c70-e75a-49f2-96dc-8c6d14d46cec","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"loadBalancers","locations":["local"]}]},{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"deployments","locations":[null]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer/providers/Microsoft.Resources/deployments/IPlb1","resourceType":"Microsoft.Resources/deployments","resourceName":"IPlb1"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer/providers/Microsoft.Resources/deployments/Subnetlb1","resourceType":"Microsoft.Resources/deployments","resourceName":"Subnetlb1"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer/providers/Microsoft.Network/loadBalancers/lb1","resourceType":"Microsoft.Network/loadBalancers","resourceName":"lb1"}]}}'}
    headers:
      Azure-AsyncOperation: ['https://adminmanagement.local.azurestack.external/subscriptions/2C966402-B31D-4A3E-A3DC-397286C0C609/resourcegroups/cli_test_load_balancer/providers/Microsoft.Resources/deployments/azurecli1491511632.017573484644/operationStatuses/08587100952529810432?api-version=2015-11-01']
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1147']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_load_balancer/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08587100952529810432?api-version=2015-11-01
  response:
    body: {string: '{"status":"Running"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_load_balancer/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2015-11-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer/providers/Microsoft.Resources/dep[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer/providers/Microsoft.Network/publicIPAddresses/PublicIPlb2?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"name\": \"PublicIPlb2\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer/providers/Microsoft.Network/publicIPAddresses/PublicIPlb2\"\
        ,\r\n  \"etag\": \"W/\\\"2e936693-23cc-413d-90fe-ee2c854de0b0\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"location\": \"\
        local\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\"\
        : \"Succeeded\",\r\n    \"resourceGuid\": \"bcab2beb-45bb-41c8-9bc9-478f87979314\"\
        ,\r\n    \"ipAddress\": \"192.168.102.25\",\r\n    \"publicIPAllocationMethod\"\
        : \"Static\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"ipConfiguration\"\
        : {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer/providers/Microsoft.Network/loadBalancers/lb2/frontendIPConfigurations/LoadBalancerFrontEnd\"\
        \r\n    }\r\n  }\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"2e936693-23cc-413d-90fe-ee2c854de0b0"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_load_balancer?api-version=2016-02-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer","name":"cli_test_load_balancer","location":"local","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}, "subnets":
      [{"properties": {"addressPrefix": "10.0.0.0/24"}, "name": "default"}], "dhcpOptions":
      {}}, "location": "local", "tags": {}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer/providers/Microsoft.Network/virtualNetworks/mytestvnet?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"name\": \"mytestvnet\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroup[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/local/operations/feb4ad2b-42b7-4910-a5bc-76cb3a11c13f?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"status\": \"InProgress\"\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27cli_test_load_balancer%27%20and%20name%20eq%20%27mytestvnet%27%20and%20resourceType%20eq%20%27Microsoft.Network%2FvirtualNetworks%27&api-version=2016-02-01
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer/providers/Microsoft.Network/VirtualNetworks/mytestvnet","name":"mytestvnet","type":"Microsoft.Network/VirtualNetworks","location":"local","tags":{}}]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"properties": {"idleTimeoutInMinutes": 4, "publicIPAllocationMethod":
      "Dynamic"}, "location": "local"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer/providers/Microsoft.Network/publicIPAddresses/publicip4?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"name\": \"publicip4\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer/providers/Microsoft.Network/publicIPAddresses/publicip4\"\
        ,\r\n  \"etag\": \"W/\\\"5fd4dd2b-9152-46da-83c6-6505e9f9699f\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"location\": \"\
        local\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\"\
        ,\r\n    \"resourceGuid\": \"82ba9c37-8a30-4660-8263-cfb45c1543b3\",\r\n \
        \   \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\"\
        : 4\r\n  }\r\n}"}
    headers:
      Azure-AsyncOperation: ['https://adminmanagement.local.azurestack.external/subscriptions/2c966402-b31d-4a3e-a3dc-397286c0c609/providers/Microsoft.Network/locations/local/operations/859ecb27-2056-4bec-8af7-3faf0d72fb34?api-version=2015-06-15']
      Content-Type: [application/json; charset=utf-8]
      Retry-After: ['10']
      x-ms-ratelimit-remaining-subscription-writes: ['1143']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27cli_test_load_balancer%27%20and%20name%20eq%20%27publicip4%27%20and%20resourceType%20eq%20%27Microsoft.Network%2FpublicIPAddresses%27&api-version=2016-02-01
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer/providers/Microsoft.Network/PublicIpAddresses/publicip4","name":"publicip4","type":"Microsoft.Network/PublicIpAddresses","location":"local"}]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/loadBalancers?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"vmss1LB\",\r\
        \n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clivmgroup1/providers/Microsoft.Network/loadBalancers/vmss1LB\"\
        ,\r\n      \"etag\": \"W/\\\"7a992d66-7ddd-40d3-83dc-8352715a9ad5\\\"\",\r\
        \n      \"type\": \"Microsoft.Network/loadBalancers\",\r\n      \"location\"\
        : \"local\",\r\n      \"tags\": {},\r\n      \"properties\": {\r\n       \
        \ \"provisioningState\": \"Succeeded\",\r\n        \"resourceGuid\": \"e4ff2ca2-f09a-4cbb-bad9-e09418abf42a\"\
        ,\r\n        \"frontendIPConfigurations\": [\r\n          {\r\n          \
        \  \"name\": \"loadBalancerFrontEnd\",\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clivmgroup1/providers/Microsoft.Network/loadBalancers/vmss1LB/frontendIPConfigurations/loadBalancerFrontEnd\"\
        ,\r\n            \"etag\": \"W/\\\"7a992d66-7ddd-40d3-83dc-8352715a9ad5\\\"\
        \",\r\n            \"properties\": {\r\n              \"provisioningState\"\
        : \"Succeeded\",\r\n              \"privateIPAllocationMethod\": \"Dynamic\"\
        ,\r\n              \"publicIPAddress\": {\r\n                \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clivmgroup1/providers/Microsoft.Network/publicIPAddresses/vmss1LBPublicIP\"\
        \r\n              },\r\n              \"inboundNatRules\": [\r\n         \
        \       {\r\n                  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clivmgroup1/providers/Microsoft.Network/loadBalancers/vmss1LB/inboundNatRules/vmss1LBNatPool.0\"\
        \r\n                },\r\n                {\r\n                  \"id\": \"\
        /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clivmgroup1/providers/Microsoft.Network/loadBalancers/vmss1LB/inboundNatRules/vmss1LBNatPool.1\"\
        \r\n                }\r\n              ],\r\n              \"inboundNatPools\"\
        : [\r\n                {\r\n                  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clivmgroup1/providers/Microsoft.Network/loadBalancers/vmss1LB/inboundNatPools/vmss1LBNatPool\"\
        \r\n                }\r\n              ]\r\n            }\r\n          }\r\
        \n        ],\r\n        \"backendAddressPools\": [\r\n          {\r\n    \
        \        \"name\": \"vmss1LBBEPool\",\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clivmgroup1/providers/Microsoft.Network/loadBalancers/vmss1LB/backendAddressPools/vmss1LBBEPool\"\
        ,\r\n            \"etag\": \"W/\\\"7a992d66-7ddd-40d3-83dc-8352715a9ad5\\\"\
        \",\r\n            \"properties\": {\r\n              \"provisioningState\"\
        : \"Succeeded\",\r\n              \"backendIPConfigurations\": [\r\n     \
        \           {\r\n                  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clivmgroup1/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/0/networkInterfaces/vmss1s43oNic/ipConfigurations/vmss1s43oIPConfig\"\
        \r\n                },\r\n                {\r\n                  \"id\": \"\
        /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clivmgroup1/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/1/networkInterfaces/vmss1s43oNic/ipConfigurations/vmss1s43oIPConfig\"\
        \r\n                }\r\n              ]\r\n            }\r\n          }\r\
        \n        ],\r\n        \"loadBalancingRules\": [],\r\n        \"probes\"\
        : [],\r\n        \"inboundNatRules\": [\r\n          {\r\n            \"name\"\
        : \"vmss1LBNatPool.0\",\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clivmgroup1/providers/Microsoft.Network/loadBalancers/vmss1LB/inboundNatRules/vmss1LBNatPool.0\"\
        ,\r\n            \"etag\": \"W/\\\"7a992d66-7ddd-40d3-83dc-8352715a9ad5\\\"\
        \",\r\n            \"properties\": {\r\n              \"provisioningState\"\
        : \"Succeeded\",\r\n              \"frontendIPConfiguration\": {\r\n     \
        \           \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clivmgroup1/providers/Microsoft.Network/loadBalancers/vmss1LB/frontendIPConfigurations/loadBalancerFrontEnd\"\
        \r\n              },\r\n              \"frontendPort\": 50000,\r\n       \
        \       \"backendPort\": 3389,\r\n              \"enableFloatingIP\": false,\r\
        \n              \"idleTimeoutInMinutes\": 4,\r\n              \"protocol\"\
        : \"Tcp\",\r\n              \"backendIPConfiguration\": {\r\n            \
        \    \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clivmgroup1/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/0/networkInterfaces/vmss1s43oNic/ipConfigurations/vmss1s43oIPConfig\"\
        \r\n              }\r\n            }\r\n          },\r\n          {\r\n  \
        \          \"name\": \"vmss1LBNatPool.1\",\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clivmgr[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer/providers/Microsoft.Network/loadBalancers?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"lb1\",\r\n \
        \     \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourc[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer/providers/Microsoft.Network/loadBalancers/lb1?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"name\": \"lb1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer/providers/M[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer/providers/Microsoft.Network/loadBalancers/lb1?api-version=2015-06-15
  response:
    body: {string: ''}
    headers:
      Azure-AsyncOperation: ['https://adminmanagement.local.azurestack.external/subscriptions/2c966402-b31d-4a3e-a3dc-397286c0c609/providers/Microsoft.Network/locations/local/operations/04666520-9937-4e6d-9541-bd64a178e5a8?api-version=2015-06-15']
      Location: ['https://adminmanagement.local.azurestack.external/subscriptions/2c966402-b31d-4a3e-a3dc-397286c0c609/providers/Microsoft.Network/locations/local/operationResults/04666520-9937-4e6d-9541-bd64a178e5a8?api-version=2015-06-15']
      Retry-After: ['10']
      x-ms-ratelimit-remaining-subscription-writes: ['1141']
    status: {code: 202, message: Accepted}
[...]
