interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer_ip_config/providers/Microsoft.Network/loadBalancers/lb1?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"name\": \"lb1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer_ip_config/providers/Microsoft.Network/loadBalancers/lb1\"\
        ,\r\n  \"etag\": \"W/\\\"88de1cb1-466b-4354-8b7f-f18746bada55\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/loadBalancers\",\r\n  \"location\": \"local\"\
        ,\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\":\
        \ \"Succeeded\",\r\n    \"resourceGuid\": \"c326dcbc-4438-47bc-9a60-40c773cbbe9b\"\
        ,\r\n    \"frontendIPConfigurations\": [\r\n      {\r\n        \"name\": \"\
        LoadBalancerFrontEnd\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer_ip_config/providers/Microsoft.Network/loadBalancers/lb1/frontendIPConfigurations/LoadBalancerFrontEnd\"\
        ,\r\n        \"etag\": \"W/\\\"88de1cb1-466b-4354-8b7f-f18746bada55\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\
        ,\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"\
        publicIPAddress\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer_ip_config/providers/Microsoft.Network/publicIPAddresses/publicip1\"\
        \r\n          }\r\n        }\r\n      }\r\n    ],\r\n    \"backendAddressPools\"\
        : [\r\n      {\r\n        \"name\": \"lb1bepool\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer_ip_config/providers/Microsoft.Network/loadBalancers/lb1/backendAddressPools/lb1bepool\"\
        ,\r\n        \"etag\": \"W/\\\"88de1cb1-466b-4354-8b7f-f18746bada55\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\
        \r\n        }\r\n      }\r\n    ],\r\n    \"loadBalancingRules\": [],\r\n\
        \    \"probes\": [],\r\n    \"inboundNatRules\": [],\r\n    \"outboundNatRules\"\
        : [],\r\n    \"inboundNatPools\": []\r\n  }\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"88de1cb1-466b-4354-8b7f-f18746bada55"]
    status: {code: 200, message: OK}
- request:
    body: '{"id": "/subscriptions/2c966402-b31d-4a3e-a3dc-397286c0c609/resourceGroups/cli_test_load_balancer_ip_config/providers/Microsoft.Network/loadBalancers/lb1",
      "tags": {}, "etag": "W/\"88de1cb1-466b-4354-8b7f-f18746bada55\"", "location":
      "local", "properties": {"outboundNatRules": [], "inboundNatRules": [], "resourceGuid":
      "c326dcbc-4438-47bc-9a60-40c773cbbe9b", "probes": [], "provisioningState": "Succeeded",
      "loadBalancingRules": [], "backendAddressPools": [{"id": "/subscriptions/2c966402-b31d-4a3e-a3dc-397286c0c609/resourceGroups/cli_test_load_balancer_ip_config/providers/Microsoft.Network/loadBalancers/lb1/backendAddressPools/lb1bepool",
      "name": "lb1bepool", "etag": "W/\"88de1cb1-466b-4354-8b7f-f18746bada55\"", "properties":
      {"provisioningState": "Succeeded"}}], "frontendIPConfigurations": [{"id": "/subscriptions/2c966402-b31d-4a3e-a3dc-397286c0c609/resourceGroups/cli_test_load_balancer_ip_config/providers/Microsoft.Network/loadBalancers/lb1/frontendIPConfigurations/LoadBalancerFrontEnd",
      "name": "LoadBalancerFrontEnd", "etag": "W/\"88de1cb1-466b-4354-8b7f-f18746bada55\"",
      "properties": {"privateIPAllocationMethod": "Dynamic", "provisioningState":
      "Succeeded", "publicIPAddress": {"id": "/subscriptions/2c966402-b31d-4a3e-a3dc-397286c0c609/resourceGroups/cli_test_load_balancer_ip_config/providers/Microsoft.Network/publicIPAddresses/publicip1"}}},
      {"name": "ipconfig1", "properties": {"privateIPAllocationMethod": "dynamic",
      "publicIPAddress": {"id": "/subscriptions/2C966402-B31D-4A3E-A3DC-397286C0C609/resourceGroups/cli_test_load_balancer_ip_config/providers/Microsoft.Network/publicIPAddresses/publicip2"}}}],
      "inboundNatPools": []}}'
    headers:
      Co[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/local/operations/2a697095-fc77-462b-ba80-0cbec44cbccf?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"status\": \"Succeeded\"\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer_ip_config/providers/Microsoft.Network/loadBalancers/lb2?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"name\": \"lb2\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer_ip_config/providers/Microsoft.Network/loadBalancers/lb2\"\
        ,\r\n  \"etag\": \"W/\\\"93e97aad-c065-4c2c-9af4-a7a1518aaa61\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/loadBalancers\",\r\n  \"location\": \"local\"\
        ,\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\":\
        \ \"Succeeded\",\r\n    \"resourceGuid\": \"c33822ee-8e66-420b-8243-eeb7771c7250\"\
        ,\r\n    \"frontendIPConfigurations\": [\r\n      {\r\n        \"name\": \"\
        LoadBalancerFrontEnd\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer_ip_config/providers/Microsoft.Network/loadBalancers/lb2/frontendIPConfigurations/LoadBalancerFrontEnd\"\
        ,\r\n        \"etag\": \"W/\\\"93e97aad-c065-4c2c-9af4-a7a1518aaa61\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\
        ,\r\n          \"privateIPAddress\": \"10.0.0.4\",\r\n          \"privateIPAllocationMethod\"\
        : \"Dynamic\",\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer_ip_config/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1\"\
        \r\n          }\r\n        }\r\n      }\r\n    ],\r\n    \"backendAddressPools\"\
        : [\r\n      {\r\n        \"name\": \"lb2bepool\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer_ip_config/providers/Microsoft.Network/loadBalancers/lb2/backendAddressPools/lb2bepool\"\
        ,\r\n        \"etag\": \"W/\\\"93e97aad-c065-4c2c-9af4-a7a1518aaa61\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\
        \r\n        }\r\n      }\r\n    ],\r\n    \"loadBalancingRules\": [],\r\n\
        \    \"probes\": [],\r\n    \"inboundNatRules\": [],\r\n    \"outboundNatRules\"\
        : [],\r\n    \"inboundNatPools\": []\r\n  }\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"93e97aad-c065-4c2c-9af4-a7a1518aaa61"]
    status: {code: 200, message: OK}
[...]
