interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.hpemas.selfhost.corp.microsoft.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_public_ip?api-version=2016-02-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_public_ip","name":"cli_test_public_ip","location":"hpemas","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {"idleTimeoutInMinutes": 4, "dnsSettings": {"domainNameLabel":
      "woot"}, "publicIPAllocationMethod": "Static"}, "location": "hpemas"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.hpemas.selfhost.corp.microsoft.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_public_ip/providers/Microsoft.Network/publicIPAddresses/pubipdns?api-version=2015-06-15
  response:
    body: {string: '{"error":{"code":"GatewayTimeout","message":"The gateway did not
        receive a response from ''Microsoft.Network'' within the specified time period."}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-failure-cause: [service]
    status: {code: 504, message: Gateway Timeout}
[...]
- request:
    body: '{"properties": {"idleTimeoutInMinutes": 4, "dnsSettings": {"domainNameLabel":
      "woot"}, "publicIPAllocationMethod": "Static"}, "location": "hpemas"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.hpemas.selfhost.corp.microsoft.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_public_ip/providers/Microsoft.Network/publicIPAddresses/pubipdns?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"name\": \"pubipdns\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_public_ip/providers/Microsoft.Network/publicIPAddresses/pubipdns\"\
        ,\r\n  \"etag\": \"W/\\\"0e755b9e-251b-4ad5-8ae0-fe0a94d08705\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"location\": \"\
        hpemas\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\"\
        ,\r\n    \"resourceGuid\": \"36eeea5c-074f-47a7-9efd-c6834e312e9d\",\r\n \
        \   \"publicIPAllocationMethod\": \"Static\",\r\n    \"idleTimeoutInMinutes\"\
        : 4,\r\n    \"dnsSettings\": {\r\n      \"domainNameLabel\": \"woot\",\r\n\
        \      \"fqdn\": \"woot.hpemas.cloudapp.selfhost.corp.microsoft.com\"\r\n\
        \    }\r\n  }\r\n}"}
    headers:
      Azure-AsyncOperation: ['https://management.hpemas.selfhost.corp.microsoft.com/subscriptions/722f10c5-a886-40aa-b7a9-a62747d0ed30/providers/Microsoft.Network/locations/hpemas/operations/8089031b-c2f9-41f3-b118-3611777f80e9?api-version=2015-06-15']
      Content-Type: [application/json; charset=utf-8]
      Retry-After: ['10']
      x-ms-ratelimit-remaining-subscription-writes: ['1191']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.hpemas.selfhost.corp.microsoft.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/hpemas/operations/8089031b-c2f9-41f3-b118-3611777f80e9?api-version=2015-06-15
  response:
    body: {string: '{"error":{"code":"GatewayTimeout","message":"The gateway did not
        receive a response from ''Microsoft.Network'' within the specified time period."}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-failure-cause: [service]
    status: {code: 504, message: Gateway Timeout}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.hpemas.selfhost.corp.microsoft.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_public_ip/providers/Microsoft.Network/publicIPAddresses/pubipdns?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"name\": \"pubipdns\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_public_ip/providers/Microsoft.Network/publicIPAddresses/pubipdns\"\
        ,\r\n  \"etag\": \"W/\\\"1a2f23bd-4b11-4b57-ad90-0a61696b8a87\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"location\": \"\
        hpemas\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\
        ,\r\n    \"resourceGuid\": \"36eeea5c-074f-47a7-9efd-c6834e312e9d\",\r\n \
        \   \"ipAddress\": \"10.193.131.80\",\r\n    \"publicIPAllocationMethod\"\
        : \"Static\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"dnsSettings\":\
        \ {\r\n      \"domainNameLabel\": \"woot\",\r\n      \"fqdn\": \"woot.hpemas.cloudapp.selfhost.corp.microsoft.com\"\
        \r\n    }\r\n  }\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"1a2f23bd-4b11-4b57-ad90-0a61696b8a87"]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"properties": {"idleTimeoutInMinutes": 4, "publicIPAllocationMethod":
      "Dynamic"}, "location": "hpemas"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.hpemas.selfhost.corp.microsoft.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_public_ip/providers/Microsoft.Network/publicIPAddresses/pubipnodns?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"name\": \"pubi[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.hpemas.selfhost.corp.microsoft.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_public_ip/providers/Microsoft.Network/publicIPAddresses?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"pubipdns\",\r\
        \n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_public_ip/providers/Microsoft.Network/publicIPAddresses/pubipdns\"\
        ,\r\n      \"etag\": \"W/\\\"1a2f23bd-4b11-4b57-ad90-0a61696b8a87\\\"\",\r\
        \n      \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n      \"location\"\
        : \"hpemas\",\r\n      \"properties\": {\r\n        \"provisioningState\"\
        : \"Succeeded\",\[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.hpemas.selfhost.corp.microsoft.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_public_ip/providers/Microsoft.Network/publicIPAddresses/pubipdns?api-version=2015-06-15
  response:
    body: {string: ''}
    headers:
      Azure-AsyncOperation: ['https://management.hpemas.selfhost.corp.microsoft.com/subscriptions/722f10c5-a886-40aa-b7a9-a62747d0ed30/providers/Microsoft.Network/locations/hpemas/operations/bc5108c9-e2ec-418b-8777-d004b1c85b2e?api-version=2015-06-15']
      Location: ['https://management.hpemas.selfhost.corp.microsoft.com/subscriptions/722f10c5-a886-40aa-b7a9-a62747d0ed30/providers/Microsoft.Network/locations/hpemas/operationResults/bc5108c9-e2ec-418b-8777-d004b1c85b2e?api-version=2015-06-15']
      Retry-After: ['10']
      x-ms-ratelimit-remaining-subscription-writes: ['1189']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.hpemas.selfhost.corp.microsoft.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_public_ip/providers/Microsoft.Network/publicIPAddresses?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"pubipnodns\"\
        ,\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_public_ip/providers/Microsoft.Network/publicIPAddresses/pubipnodns\"\
        ,\r\n      \"etag\": \"W/\\\"cbfb8902-e708-459e-91db-7399a37f53a2\\\"\",\r\
        \n      \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n      \"location\"\
        : \"hpemas\",\r\n      \"properties\": {\r\n        \"provisioningState\"\
        : \"Succeeded\",\r\n        \"resourceGuid\": \"4a254f4d-bddd-4ee6-b2b1-dd4b285bb40b\"\
        ,\r\n        \"ipAddress\": \"10.193.131.81\",\r\n        \"publicIPAllocationMethod\"\
        : \"Static\",\r\n        \"idleTimeoutInMinutes\": 10,\r\n        \"dnsSettings\"\
        : {\r\n          \"domainNameLabel\": \"wowza\",\r\n          \"fqdn\": \"\
        wowza.hpemas.cloudapp.selfhost.corp.microsoft.com\"\r\n        }\r\n     \
        \ }\r\n    }\r\n  ]\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
