interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/local_gateway_scenario?api-version=2016-02-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/local_gateway_scenario","name":"local_gateway_scenario","location":"local","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {"gatewayIpAddress": "10.1.1.1"}, "id": "[]", "location":
      "local"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/local_gateway_scenario/providers/Microsoft.Network/localNetworkGateways/cli-test-loc-gateway?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"name\": \"cli-test-loc-gateway\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/local_gateway_scenario/providers/Microsoft.Network/localNetworkGateways/cli-test-loc-gateway\"\
        ,\r\n  \"etag\": \"W/\\\"c8290ca9-881b-4c48-a81d-94adb460f994\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/localNetworkGateways\",\r\n  \"location\"\
        : \"local\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\"\
        ,\r\n    \"resourceGuid\": \"de0b90f9-4ab4-4e21-818b-dfe05a16818f\",\r\n \
        \   \"localNetworkAddressSpace\": {\r\n      \"addressPrefixes\": []\r\n \
        \   },\r\n    \"gatewayIpAddress\": \"10.1.1.1\"\r\n  }\r\n}"}
    headers:
      Azure-AsyncOperation: ['https://adminmanagement.local.azurestack.external/subscriptions/2c966402-b31d-4a3e-a3dc-397286c0c609/providers/Microsoft.Network/locations/local/operations/df61b051-0bac-4b91-a772-8988a1d30830?api-version=2015-06-15']
      Content-Type: [application/json; charset=utf-8]
      Retry-After: ['10']
      x-ms-ratelimit-remaining-subscription-writes: ['1118']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/local/operations/df61b051-0bac-4b91-a772-8988a1d30830?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"status\": \"Succeeded\"\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/local_gateway_scenario/providers/Microsoft.Network/localNetworkGateways/cli-test-loc-gateway?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"name\": \"cli-test-loc-gateway\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/local_gateway_scenario/providers/Microsoft.Network/localNetworkGateways/cli-test-loc-gateway\"\
        ,\r\n  \"etag\": \"W/\\\"29bdf331-1b14-4b7e-ae67-04a011cfe6ab\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/localNetworkGateways\",\r\n  \"location\"\
        : \"local\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\
        ,\r\n    \"resourceGuid\": \"de0b90f9-4ab4-4e21-818b-dfe05a16818f\",\r\n \
        \   \"localNetworkAddressSpace\": {\r\n      \"addressPrefixes\": []\r\n \
        \   },\r\n    \"gatewayIpAddress\": \"10.1.1.1\"\r\n  }\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"29bdf331-1b14-4b7e-ae67-04a011cfe6ab"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/local_gateway_scenario/providers/Microsoft.Network/localNetworkGateways?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"cli-test-loc-gateway\"\
        ,\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/local_gateway_scenario/providers/Microsoft.Network/localNetworkGateways/cli-test-loc-gateway\"\
        ,\r\n      \"etag\": \"W/\\\"29bdf331-1b14-4b7e-ae67-04a011cfe6ab\\\"\",\r\
        \n      \"type\": \"Microsoft.Network/localNetworkGateways\",\r\n      \"\
        location\": \"local\",\r\n      \"properties\": {\r\n        \"provisioningState\"\
        : \"Succeeded\",\r\n        \"resourceGuid\": \"de0b90f9-4ab4-4e21-818b-dfe05a16818f\"\
        ,\r\n        \"localNetworkAddressSpace\": {\r\n          \"addressPrefixes\"\
        : []\r\n        },\r\n        \"gatewayIpAddress\": \"10.1.1.1\"\r\n     \
        \ }\r\n    }\r\n  ]\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/local_gateway_scenario/providers/Microsoft.Network/localNetworkGateways/cli-test-loc-gateway?api-version=2015-06-15
  response:
    body: {string: ''}
    headers:
      Azure-AsyncOperation: ['https://adminmanagement.local.azurestack.external/subscriptions/2c966402-b31d-4a3e-a3dc-397286c0c609/providers/Microsoft.Network/locations/local/operations/772c23eb-40f8-4178-8451-95c1a821fd7f?api-version=2015-06-15']
      Location: ['https://adminmanagement.local.azurestack.external/subscriptions/2c966402-b31d-4a3e-a3dc-397286c0c609/providers/Microsoft.Network/locations/local/operationResults/772c23eb-40f8-4178-8451-95c1a821fd7f?api-version=2015-06-15']
      Retry-After: ['10']
      x-ms-ratelimit-remaining-subscription-writes: ['1117']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/local_gateway_scenario/providers/Microsoft.Network/localNetworkGateways?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"value\": []\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
