interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.hpemas.selfhost.corp.microsoft.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_nic_scenario?api-version=2016-02-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_scenario","name":"cli_test_nic_scenario","location":"hpemas","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"tags": {}, "properties": {"subnets": [{"properties": {"addressPrefix":
      "10.0.0.0/24"}, "name": "mysubnet"}], "dhcpOptions": {}, "addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}}, "location": "hpemas"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.hpemas.selfhost.corp.microsoft.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/virtualNetworks/myvnet?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"name\": \"myvnet\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/virtualNetworks/myvnet\"\
        ,\r\n  \"etag\": \"W/\\\"9c27a1d7-217d-4481-8bdf-6afcf09fa127\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"hpemas\"\
        ,\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\":\
        \ \"Updating\",\r\n    \"resourceGuid\": \"1f962a11-063e-4f8f-b75f-e8d35af00fb3\"\
        ,\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"\
        10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\"\
        : []\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"mysubnet\"\
        ,\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/virtualNetworks/myvnet/subnets/mysubnet\"\
        ,\r\n        \"etag\": \"W/\\\"9c27a1d7-217d-4481-8bdf-6afcf09fa127\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\"\
        ,\r\n          \"addressPrefix\": \"10.0.0.0/24\"\r\n        }\r\n      }\r\
        \n    ]\r\n  }\r\n}"}
    headers:
      Azure-AsyncOperation: ['https://management.hpemas.selfhost.corp.microsoft.com/subscriptions/722f10c5-a886-40aa-b7a9-a62747d0ed30/providers/Microsoft.Network/locations/hpemas/operations/3aceb751-7e7e-4ea6-b34d-876c68a88313?api-version=2015-06-15']
      Content-Type: [application/json; charset=utf-8]
      Retry-After: ['10']
      x-ms-ratelimit-remaining-subscription-writes: ['1190']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.hpemas.selfhost.corp.microsoft.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/hpemas/operations/3aceb751-7e7e-4ea6-b34d-876c68a88313?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"status\": \"InProgress\"\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"location": "hpemas"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.hpemas.selfhost.corp.microsoft.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/networkSecurityGroups/mynsg?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"name\": \"mynsg\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/networkSecurityGroups/mynsg\"\
        ,\r\n  \"etag\": \"W/\\\"49233378-ed57-44ff-ba69-bcbc23f98dd1\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/networkSecurityGroups\",\r\n  \"location\"\
        : \"hpemas\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\"\
        ,\r\n    \"resourceGuid\": \"466760f0-f728-41fa-82d2-f16b967b43df\",\r\n \
        \   \"securityRules\": [],\r\n    \"defaultSecurityRules\": [\r\n      {\r\
        \n        \"name\": \"AllowVnetInBound\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/networkSecurityGroups/mynsg/defaultSecurityRules/AllowVnetInBound\"\
        ,\r\n        \"etag\": \"W/\\\"49233378-ed57-44ff-ba69-bcbc23f98dd1\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\"\
        ,\r\n          \"description\": \"Allow inbound traffic from all VMs in VNET\"\
        ,\r\n          \"protocol\": \"*\",\r\n          \"sourcePortRange\": \"*\"\
        ,\r\n          \"destinationPortRange\": \"*\",\r\n          \"sourceAddressPrefix\"\
        : \"VirtualNetwork\",\r\n          \"destinationAddressPrefix\": \"VirtualNetwork\"\
        ,\r\n          \"access\": \"Allow\",\r\n          \"priority\": 65000,\r\n\
        \          \"direction\": \"Inbound\"\r\n        }\r\n      },\r\n      {\r\
        \n        \"name\": \"AllowAzureLoadBalancerInBound\",\r\n        \"id\":\
        \ \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/networkSecurityGroups/mynsg/defaultSecurityRules/AllowAzureLoadBalancerInBound\"\
        ,\r\n        \"etag\": \"W/\\\"49233378-ed57-44ff-ba69-bcbc23f98dd1\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState[...]
[...]
- request:
    body: '{"location": "hpemas"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.hpemas.selfhost.corp.microsoft.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/networkSecurityGroups/myothernsg?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"name\": \"myothernsg\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/reso[...]
[...]
- request:
    body: '{"properties": {"idleTimeoutInMinutes": 4, "publicIPAllocationMethod":
      "Dynamic"}, "location": "hpemas"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.hpemas.selfhost.corp.microsoft.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/publicIPAddresses/publicip1?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"name\": \"publicip1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/publicIPAddresses/publicip1\"\
        ,\r\n  \"etag\": \"W/\\\"b196a2ae-34b4-4a5e-bc5b-2834e3fb9c58\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"location\": \"\
        hpemas\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\"\
        ,\r\n    \"resourceGuid\": \"48f81679-1917-493c-964c-58e68f29c94f\",\r\n \
        \   \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\"\
        : 4\r\n  }\r\n}"}
    headers:
      Azure-AsyncOperation: ['https://management.hpemas.selfhost.corp.microsoft.com/subscriptions/722f10c5-a886-40aa-b7a9-a62747d0ed30/providers/Microsoft.Network/locations/hpemas/operations/f4abcd62-114f-4956-86ad-f4bdeeaaff02?api-version=2015-06-15']
      Content-Type: [application/json; charset=utf-8]
      Retry-After: ['10']
      x-ms-ratelimit-remaining-subscription-writes: ['1190']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.hpemas.selfhost.corp.microsoft.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/hpemas/operations/f4abcd62-114f-4956-86ad-f4bdeeaaff02?api-version=2015-06-15
  response:
    body: {string: '{"error":{"code":"GatewayTimeout","message":"The gateway did not
        receive a response from ''Microsoft.Network'' within the specified time period."}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-failure-cause: [service]
    status: {code: 504, message: Gateway Timeout}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.hpemas.selfhost.corp.microsoft.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/publicIPAddresses/publicip1?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"name\": \"publicip1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/publicIPAddresses/publicip1\"\
        ,\r\n  \"etag\": \"W/\\\"5d31e63a-e829-4f4b-86e4-128e0256c5ac\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"location\": \"\
        hpemas\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\
        ,\r\n    \"resourceGuid\": \"48f81679-1917-493c-964c-58e68f29c94f\",\r\n \
        \   \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\"\
        : 4\r\n  }\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"5d31e63a-e829-4f4b-86e4-128e0256c5ac"]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.hpemas.selfhost.corp.microsoft.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?api-version=2016-02-01&$filter=resourceGroup%20eq%20%27cli_test_nic_scenario%27%20and%20name%20eq%20%27None%27%20and%20resourceType%20eq%20%27Microsoft.Network%2FpublicIPAddresses%27
  response:
    body: {string: '{"value":[]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {"mode": "Incremental", "parameters": {}, "template": {"outputs":
      {"loadBalancer": {"value": "[reference(''mylb'')]", "type": "object"}}, "parameters":
      {}, "variables": {}, "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "resources": [{"apiVersion": "2015-06-15", "dependsOn": [], "type": "Microsoft.Network/publicIPAddresses",
      "tags": {}, "location": "hpemas", "name": "PublicIPmylb", "properties": {"publicIPAllocationMethod":
      "Dynamic"}}, {"apiVersion": "2015-06-15", "dependsOn": ["Microsoft.Network/publicIpAddresses/PublicIPmylb"],
      "type": "Microsoft.Network/loadBalancers", "tags": {}, "location": "hpemas",
      "name": "mylb", "properties": {"backendAddressPools": [{"name": "mylbbepool"}],
      "frontendIPConfigurations": [{"properties": {"publicIPAddress": {"id": "/subscriptions/722f10c5-a886-40aa-b7a9-a62747d0ed30/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/publicIPAddresses/PublicIPmylb"}},
      "name": "LoadBalancerFrontEnd"}]}}], "contentVersion": "1.0.0.0"}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.hpemas.selfhost.corp.microsoft.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_nic_scenario/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2016-02-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Resources/deployments/lb_deploy_SMW3ed4NgGOpjCmQf8J3cynCBEohKiaj","name":"lb_deploy_SMW3ed4NgGOpjCmQf8J3cynCBEohKiaj","properties":{"templateHash":"15396133475095627352","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2017-05-01T05:22:02.068509Z","duration":"PT0.3859529S","correlationId":"57e4061f-562d-4805-8145-9a813eaf1be6","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"publicIPAddresses","locations":["hpemas"]},{"resourceType":"loadBalancers","locations":["hpemas"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/publicIpAddresses/PublicIPmylb","resourceType":"Microsoft.Network/publicIpAddresses","resourceName":"PublicIPmylb"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/loadBalancers/mylb","resourceType":"Microsoft.Network/loadBalancers","resourceName":"mylb"}]}}'}
    headers:
      Azure-AsyncOperation: ['https://management.hpemas.selfhost.corp.microsoft.com/subscriptions/722f10c5-a886-40aa-b7a9-a62747d0ed30/resourcegroups/cli_test_nic_scenario/providers/Microsoft.Resources/deployments/lb_deploy_SMW3ed4NgGOpjCmQf8J3cynCBEohKiaj/operationStatuses/08587079907638114534?api-version=2016-02-01']
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1189']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.hpemas.selfhost.corp.microsoft.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_nic_scenario/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08587079907638114534?api-version=2016-02-01
  response:
    body: {string: '{"status":"Succeeded"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.hpemas.selfhost.corp.microsoft.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/loadBalancers/mylb?api-version=2015-06-15
  response:
    body: {string: '{"error":{"code":"GatewayTimeout","message":"The gateway did not
        receive a response from ''Microsoft.Network'' within the specified time period."}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-failure-cause: [service]
    status: {code: 504, message: Gateway Timeout}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.hpemas.selfhost.corp.microsoft.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/loadBalancers/mylb?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"name\": \"mylb\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/loadBalancers/mylb\"\
        ,\r\n  \"etag\": \"W/\\\"eba73d97-29e4-4f99-af18-0053e993f90b\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/loadBalancers\",\r\n  \"location\": \"hpemas\"\
        ,\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\":\
        \ \"Succeeded\",\r\n    \"resourceGuid\": \"2c91ef24-960a-40dd-b99d-ab616e9c991e\"\
        ,\r\n    \"frontendIPConfigurations\": [\r\n      {\r\n        \"name\": \"\
        LoadBalancerFrontEnd\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/loadBalancers/mylb/frontendIPConfigurations/LoadBalancerFrontEnd\"\
        ,\r\n        \"etag\": \"W/\\\"eba73d97-29e4-4f99-af18-0053e993f90b\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\
        ,\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"\
        publicIPAddress\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/publicIPAddresses/PublicIPmylb\"\
        \r\n          }\r\n        }\r\n      }\r\n    ],\r\n    \"backendAddressPools\"\
        : [\r\n      {\r\n        \"name\": \"mylbbepool\",\r\n        \"id\": \"\
        /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/loadBalancers/mylb/backendAddressPools/mylbbepool\"\
        ,\r\n        \"etag\": \"W/\\\"eba73d97-29e4-4f99-af18-0053e993f90b\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\
        \r\n        }\r\n      }\r\n    ],\r\n    \"loadBalancingRules\": [],\r\n\
        \    \"probes\": [],\r\n    \"inboundNatRules\": [],\r\n    \"outboundNatRules\"\
        : [],\r\n    \"inboundNatPools\": []\r\n  }\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"eba73d97-29e4-4f99-af18-0053e993f90b"]
    status: {code: 200, message: OK}
- request:
    body: '{"etag": "W/\"eba73d97-29e4-4f99-af18-0053e993f90b\"", "tags": {}, "id":
      "/subscriptions/722f10c5-a886-40aa-b7a9-a62747d0ed30/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/loadBalancers/mylb",
      "properties": {"loadBalancingRules": [], "probes": [], "inboundNatRules": [{"name":
      "rule1", "properties": {"protocol": "Tcp", "frontendIPConfiguration": {"etag":
      "W/\"eba73d97-29e4-4f99-af18-0053e993f90b\"", "name": "LoadBalancerFrontEnd",
      "properties": {"publicIPAddress": {"id": "/subscriptions/722f10c5-a886-40aa-b7a9-a62747d0ed30/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/publicIPAddresses/PublicIPmylb"},
      "provisioningState": "Succeeded", "privateIPAllocationMethod": "Dynamic"}, "id":
      "/subscriptions/722f10c5-a886-40aa-b7a9-a62747d0ed30/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/loadBalancers/mylb/frontendIPConfigurations/LoadBalancerFrontEnd"},
      "enableFloatingIP": false, "backendPort": 100, "frontendPort": 100}}], "outboundNatRules":
      [], "resourceGuid": "2c91ef24-960a-40dd-b99d-ab616e9c991e", "frontendIPConfigurations":
      [{"etag": "W/\"eba73d97-29e4-4f99-af18-0053e993f90b\"", "name": "LoadBalancerFrontEnd",
      "properties": {"publicIPAddress": {"id": "/subscriptions/722f10c5-a886-40aa-b7a9-a62747d0ed30/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/publicIPAddresses/PublicIPmylb"},
      "provisioningState": "Succeeded", "privateIPAllocationMethod": "Dynamic"}, "id":
      "/subscriptions/722[...]
[...]
- request:
    body: '{"properties": {"ipConfigurations": [{"name": "ipconfig1", "properties":
      {"privateIPAllocationMethod": "Dynamic", "subnet": {"id": "/subscriptions/722f10c5-a886-40aa-b7a9-a62747d0ed30/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/virtualNetworks/myvnet/subnets/mysubnet"}}}],
      "enableIPForwarding": false}, "location": "hpemas"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.hpemas.selfhost.corp.microsoft.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/networkInterfaces/cli-test-nic?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"name\": \"cli-test-nic\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/networkInterfaces/cli-test-nic\"\
        ,\r\n  \"etag\": \"W/\\\"feaaee7f-6550-4d96-9fad-0c7fd67afb57\\\"\",\r\n \
        \ \"location\": \"hpemas\",\r\n  \"properties\": {\r\n    \"provisioningState\"\
        : \"Succeeded\",\r\n    \"resourceGuid\": \"0a08e131-1dd7-4d0b-a4c1-20a5bff4c2b5\"\
        ,\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"ipconfig1\"\
        ,\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/networkInterfaces/cli-test-nic/ipConfigurations/ipconfig1\"\
        ,\r\n        \"etag\": \"W/\\\"feaaee7f-6550-4d96-9fad-0c7fd67afb57\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\
        ,\r\n          \"privateIPAddress\": \"10.0.0.4\",\r\n          \"privateIPAllocationMethod\"\
        : \"Dynamic\",\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/virtualNetworks/myvnet/subnets/mysubnet\"\
        \r\n          },\r\n          \"primary\": true\r\n        }\r\n      }\r\n\
        \    ],\r\n    \"dnsSettings\": {\r\n      \"dnsServers\": [],\r\n      \"\
        appliedDnsServers\": []\r\n    },\r\n    \"enableIPForwarding\": false\r\n\
        \  },\r\n  \"type\": \"Microsoft.Network/networkInterfaces\"\r\n}"}
    headers:
      Azure-AsyncOperation: ['https://management.hpemas.selfhost.corp.microsoft.com/subscriptions/722f10c5-a886-40aa-b7a9-a62747d0ed30/providers/Microsoft.Network/locations/hpemas/operations/f5dc4699-c8cf-4bd5-a128-dfc82ae24095?api-version=2015-06-15']
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1185']
    status: {code: 201, message: Created}
[...]
- request:
    body: '{"properties": {"ipConfigurations": [{"name": "ipconfig1", "properties":
      {"privateIPAddress": "10.0.0.15", "loadBalancerBackendAddressPools": [{"id":
      "/subscriptions/722f10c5-a886-40aa-b7a9-a62747d0ed30/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/loadBalancers/mylb/backendAddressPools/mylbbepool"},
      {"id": "/subscriptions/722f10c5-a886-40aa-b7a9-a62747d0ed30/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/loadBalancers/mylb/backendAddressPools/bap1"},
      {"id": "/subscriptions/722f10c5-a886-40aa-b7a9-a62747d0ed30/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/loadBalancers/mylb/backendAddressPools/bap2"}],
      "privateIPAllocationMethod": "Static", "publicIPAddress": {"id": "/subscriptions/722f10c5-a886-40aa-b7a9-a62747d0ed30/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/publicIPAddresses/publicip1"},
      "loadBalancerInboundNatRules": [{"id": "/subscriptions/722f10c5-a886-40aa-b7a9-a62747d0ed30/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/loadBalancers/mylb/inboundNatRules/rule1"},
      {"id": "/subscriptions/722f10c5-a886-40aa-b7a9-a62747d0ed30/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/loadBalancers/mylb/inboundNatRules/rule2"}],
      "subnet": {"id": "/subscriptions/722f10c5-a886-40aa-b7a9-a62747d0ed30/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/virtualNetworks/myvnet/subnets/mysubnet"}}}],
      "enableIPForwarding": true, "dnsSettings": {"internalDnsNameLabel": "test"}},
      "location": "hpemas"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.hpemas.selfhost.corp.microsoft.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/networkInterfaces/cli-test-nic?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"name\": \"cli-test-nic\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGr[...]
[...]
- request:
    body: '{"properties": {"ipConfigurations": [{"name": "ipconfig1", "properties":
      {"privateIPAllocationMethod": "Dynamic", "subnet": {"id": "/subscriptions/722f10c5-a886-40aa-b7a9-a62747d0ed30/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/virtualNetworks/myvnet/subnets/mysubnet"}}}],
      "enableIPForwarding": false, "networkSecurityGroup": {"id": "/subscriptions/722f10c5-a886-40aa-b7a9-a62747d0ed30/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/networkSecurityGroups/mynsg"}},
      "location": "hpemas"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.hpemas.selfhost.corp.microsoft.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/networkInterfaces/cli-test-nic?api-version=2015-06-[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.hpemas.selfhost.corp.microsoft.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/networkInterfaces?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"cli-test-nic\"\
        ,\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_s[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.hpemas.selfhost.corp.microsoft.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/networkInterfaces?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"cli-test-nic\"\
        ,\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-00000[...]
[...]
- request:
    body: '{"etag": "W/\"76712330-0ed9-43a4-89a9-6741274fa369\"", "location": "hpemas",
      "properties": {"enableIPForwarding": true, "networkSecurityGroup": {"id": "/subscriptions/722f10c5-a886-40aa-b7a9-a62747d0ed30/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/networkSecurityGroups/myothernsg"},
      "resourceGuid": "0a08e131-1dd7-4d0b-a4c1-20a5bff4c2b5", "ipConfigurations":
      [{"etag": "W/\"76712330-0ed9-43a4-89a9-6741274fa369\"", "name": "ipconfig1",
      "properties": {"privateIPAddress": "10.0.0.15", "publicIPAddress": {"id": "/subscriptions/722f10c5-a886-40aa-b7a9-a62747d0ed30/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/publicIPAddresses/publicip1"},
      "provisioningState": "Succeeded", "privateIPAllocationMethod": "Dynamic", "subnet":
      {"id": "/subscriptions/722f10c5-a886-40aa-b7a9-a62747d0ed30/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/virtualNetworks/myvnet/subnets/mysubnet"}},
      "id": "/subscriptions/722f10c5-a886-40aa-b7a9-a62747d0ed30/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/networkInterfaces/cli-test-nic/ipConfigurations/ipconfig1"}],
      "provisioningState": "Succeeded", "dnsSettings": {"dnsServers": [], "internalDnsNameLabel":
      "noodle", "appliedDnsServers": []}}, "id": "/subscriptions/722f10c5-a886-40aa-b7a9-a62747d0ed30/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/networkInterfaces/cli-test-nic"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.hpemas.selfhost.corp.microsoft.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/networkInterfaces/cli-test-nic?api-version=2015-06-15
  response:
    bod[...]
[...]
- request:
    body: '{"etag": "W/\"9add9db8-6fa0-4462-88f2-a4f97d9dd935\"", "location": "hpemas",
      "properties": {"enableIPForwarding": false, "networkSecurityGroup": {"id": "/subscriptions/722f10c5-a886-40aa-b7a9-a62747d0ed30/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/networkSecurityGroups/myothernsg"},
      "resourceGuid": "0a08e131-1dd7-4d0b-a4c1-20a5bff4c2b5", "ipConfigurations":
      [{"etag": "W/\"9add9db8-6fa0-4462-88f2-a4f97d9dd935\"", "name": "ipconfig1",
      "properties": {"privateIPAddress": "10.0.0.15", "publicIPAddress": {"id": "/subscriptions/722f10c5-a886-40aa-b7a9-a62747d0ed30/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/publicIPAddresses/publicip1"},
      "provisioningState": "Succeeded", "privateIPAllocationMethod": "Dynamic", "subnet":
      {"id": "/subscriptions/722f10c5-a886-40aa-b7a9-a62747d0ed30/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/virtualNetworks/myvnet/subnets/mysubnet"}},
      "id": "/subscriptions/722f10c5-a886-40aa-b7a9-a62747d0ed30/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/networkInterfaces/cli-test-nic/ipConfigurations/ipconfig1"}],
      "provisioningState": "Succeeded", "dnsSettings": {"dnsServers": [], "internalFqdn":
      "noodle.cevjmhz4a0hu5n053djvv2apwd.a--x.internal.cloudapp.net", "internalDnsNameLabel":
      "doodle", "appliedDnsServers": []}}, "id": "/subscriptions/722f10c5-a886-40aa-b7a9-a62747d0ed30/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/networkInterfaces/cli-test-nic"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.hpemas.selfhost.corp.microsoft.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/networkInterfaces/cli-test-nic?api-version=2015-06-15
  response:
    body: {string: '{"error":{"code":"GatewayTimeout","message":"The gateway did not
        receive a response from ''Microsoft.Network'' within the specified time period."}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-failure-cause: [service]
    status: {code: 504, message: Gateway Timeout}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
[...]
