interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_public_ip?api-version=2016-02-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_public_ip","name":"cli_test_public_ip","location":"local","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"location": "local", "properties": {"idleTimeoutInMinutes": 4, "dnsSettings":
      {"domainNameLabel": "woot"}, "publicIPAllocationMethod": "Static"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_public_ip/providers/Microsoft.Network/publicIPAddresses/pubipdns?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"name\": \"pubipdns\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_public_ip/providers/Microsoft.Network/publicIPAddresses/pubipdns\"\
        ,\r\n  \"etag\": \"W/\\\"ba54e1fb-3799-4a6c-bac9-b1f534521547\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"location\": \"\
        local\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\"\
        ,\r\n    \"resourceGuid\": \"8ed7c75c-b5b6-46cc-b68d-c19cebe87694\",\r\n \
        \   \"publicIPAllocationMethod\": \"Static\",\r\n    \"idleTimeoutInMinutes\"\
        : 4,\r\n    \"dnsSettings\": {\r\n      \"domainNameLabel\": \"woot\",\r\n\
        \      \"fqdn\": \"woot.local.cloudapp.azurestack.external\"\r\n    }\r\n\
        \  }\r\n}"}
    headers:
      Azure-AsyncOperation: ['https://adminmanagement.local.azurestack.external/subscriptions/2c966402-b31d-4a3e-a3dc-397286c0c609/providers/Microsoft.Network/locations/local/operations/920bf972-49c8-4d17-844a-94bade9ec141?api-version=2015-06-15']
      Content-Type: [application/json; charset=utf-8]
      Retry-After: ['10']
      x-ms-ratelimit-remaining-subscription-writes: ['1184']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/local/operations/920bf972-49c8-4d17-844a-94bade9ec141?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"status\": \"Succeeded\"\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_public_ip/providers/Microsoft.Network/publicIPAddresses/pubipdns?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"name\": \"pubipdns\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_public_ip/providers/Microsoft.Network/publicIPAddresses/pubipdns\"\
        ,\r\n  \"etag\": \"W/\\\"4f8c9bfa-d0a1-4baf-b5a5-89c18224cf62\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"location\": \"\
        local\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\
        ,\r\n    \"resourceGuid\": \"8ed7c75c-b5b6-46cc-b68d-c19cebe87694\",\r\n \
        \   \"ipAddress\": \"192.168.102.17\",\r\n    \"publicIPAllocationMethod\"\
        : \"Static\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"dnsSettings\":\
        \ {\r\n      \"domainNameLabel\": \"woot\",\r\n      \"fqdn\": \"woot.local.cloudapp.azurestack.external\"\
        \r\n    }\r\n  }\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"4f8c9bfa-d0a1-4baf-b5a5-89c18224cf62"]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"location": "local", "properties": {"idleTimeoutInMinutes": 4, "publicIPAllocationMethod":
      "Dynamic"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_public_ip/providers/Microsoft.Network/publicIPAddresses/pubipnodns?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"name\": \"pubipnodn[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_public_ip/providers/Microsoft.Network/publicIPAddresses?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"pubipdns\",\r\
        \n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_public_ip/providers/Microsoft.Network/publicIPAddresses/pubipdns\"\
        ,\r\n      \"etag\": \"W/\\\"4f8c9bfa-d0a1-4baf-b5a5-89c18224cf62\\\"\",\r\
        \n      \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n      \"location\"\
        : \"local\",\r\n      \"properties\": {\r\n        \"provisioningState\":\
        \ \"Succeeded\",\[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_public_ip/providers/Microsoft.Network/publicIPAddresses/pubipdns?api-version=2015-06-15
  response:
    body: {string: ''}
    headers:
      Azure-AsyncOperation: ['https://adminmanagement.local.azurestack.external/subscriptions/2c966402-b31d-4a3e-a3dc-397286c0c609/providers/Microsoft.Network/locations/local/operations/b1d6cfc5-36d3-41f0-a8fc-3c05572cbd71?api-version=2015-06-15']
      Location: ['https://adminmanagement.local.azurestack.external/subscriptions/2c966402-b31d-4a3e-a3dc-397286c0c609/providers/Microsoft.Network/locations/local/operationResults/b1d6cfc5-36d3-41f0-a8fc-3c05572cbd71?api-version=2015-06-15']
      Retry-After: ['10']
      x-ms-ratelimit-remaining-subscription-writes: ['1181']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_public_ip/providers/Microsoft.Network/publicIPAddresses?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"pubipnodns\"\
        ,\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_public_ip/providers/Microsoft.Network/publicIPAddresses/pubipnodns\"\
        ,\r\n      \"etag\": \"W/\\\"b9236e0f-4326-48a4-8024-c166a974bfdd\\\"\",\r\
        \n      \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n      \"location\"\
        : \"local\",\r\n      \"properties\": {\r\n        \"provisioningState\":\
        \ \"Succeeded\",\r\n        \"resourceGuid\": \"418b134b-61ca-4487-89a2-76116b18b3a5\"\
        ,\r\n        \"ipAddress\": \"192.168.102.20\",\r\n        \"publicIPAllocationMethod\"\
        : \"Static\",\r\n        \"idleTimeoutInMinutes\": 10,\r\n        \"dnsSettings\"\
        : {\r\n          \"domainNameLabel\": \"wowza\",\r\n          \"fqdn\": \"\
        wowza.local.cloudapp.azurestack.external\"\r\n        }\r\n      }\r\n   \
        \ }\r\n  ]\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
