interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_nic_scenario?api-version=2016-02-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_scenario","name":"cli_test_nic_scenario","location":"local","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"location": "local", "tags": {}, "properties": {"subnets": [{"name": "mysubnet",
      "properties": {"addressPrefix": "10.0.0.0/24"}}], "dhcpOptions": {}, "addressSpace":
      {"addressPrefixes": ["10.0.0.0/16"]}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/virtualNetworks/myvnet?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"name\": \"myvnet\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/virtualNetworks/myvnet\"\
        ,\r\n  \"etag\": \"W/\\\"a7a9ee8a-d188-4ea3-8552-0e398f97652d\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"local\"\
        ,\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\":\
        \ \"Updating\",\r\n    \"resourceGuid\": \"bf73e8d4-379c-4d90-adec-eda71efaa210\"\
        ,\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"\
        10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\"\
        : []\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"mysubnet\"\
        ,\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/virtualNetworks/myvnet/subnets/mysubnet\"\
        ,\r\n        \"etag\": \"W/\\\"a7a9ee8a-d188-4ea3-8552-0e398f97652d\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\"\
        ,\r\n          \"addressPrefix\": \"10.0.0.0/24\"\r\n        }\r\n      }\r\
        \n    ]\r\n  }\r\n}"}
    headers:
      Azure-AsyncOperation: ['https://adminmanagement.local.azurestack.external/subscriptions/2c966402-b31d-4a3e-a3dc-397286c0c609/providers/Microsoft.Network/locations/local/operations/4814f9ad-e104-474f-953f-d80dd98f3aa8?api-version=2015-06-15']
      Content-Type: [application/json; charset=utf-8]
      Retry-After: ['10']
      x-ms-ratelimit-remaining-subscription-writes: ['1189']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/local/operations/4814f9ad-e104-474f-953f-d80dd98f3aa8?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"status\": \"InProgress\"\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"location": "local"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/networkSecurityGroups/mynsg?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"name\": \"mynsg\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/networkSecurityGroups/mynsg\"\
        ,\r\n  \"etag\": \"W/\\\"4aacc4d2-834d-466f-a8a6-e6a3426077b9\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/networkSecurityGroups\",\r\n  \"location\"\
        : \"local\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\"\
        ,\r\n    \"resourceGuid\": \"4073128c-25cf-4605-8b50-e16e3f8428ce\",\r\n \
        \   \"securityRules\": [],\r\n    \"defaultSecurityRules\": [\r\n      {\r\
        \n        \"name\": \"AllowVnetInBound\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/networkSecurityGroups/mynsg/defaultSecurityRules/AllowVnetInBound\"\
        ,\r\n        \"etag\": \"W/\\\"4aacc4d2-834d-466f-a8a6-e6a3426077b9\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\"\
        ,\r\n          \"description\": \"Allow inbound traffic from all VMs in VNET\"\
        ,\r\n          \"protocol\": \"*\",\r\n          \"sourcePortRange\": \"*\"\
        ,\r\n          \"destinationPortRange\": \"*\",\r\n          \"sourceAddressPrefix\"\
        : \"VirtualNetwork\",\r\n          \"destinationAddressPrefix\": \"VirtualNetwork\"\
        ,\r\n          \"access\": \"Allow\",\r\n          \"priority\": 65000,\r\n\
        \          \"direction\": \"Inbound\"\r\n        }\r\n      },\r\n      {\r\
        \n        \"name\": \"AllowAzureLoadBalancerInBound\",\r\n        \"id\":\
        \ \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/networkSecurityGroups/mynsg/defaultSecurityRules/AllowAzureLoadBalancerInBound\"\
        ,\r\n        \"etag\": \"W/\\\"4aacc4d2-834d-466f-a8a6-e6a3426077b9\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState[...]
[...]
- request:
    body: '{"location": "local"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/networkSecurityGroups/myothernsg?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"name\": \"myothernsg\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceG[...]
[...]
- request:
    body: '{"location": "local", "properties": {"publicIPAllocationMethod": "Dynamic",
      "idleTimeoutInMinutes": 4}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/publicIPAddresses/publicip1?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"name\": \"publicip1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/publicIPAddresses/publicip1\"\
        ,\r\n  \"etag\": \"W/\\\"79cfa454-4ed8-4728-9434-9b23e595ff54\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"location\": \"\
        local\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\"\
        ,\r\n    \"resourceGuid\": \"7889de4d-bd23-4be7-90ca-22c81c147058\",\r\n \
        \   \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\"\
        : 4\r\n  }\r\n}"}
    headers:
      Azure-AsyncOperation: ['https://adminmanagement.local.azurestack.external/subscriptions/2c966402-b31d-4a3e-a3dc-397286c0c609/providers/Microsoft.Network/locations/local/operations/45c56575-5029-441a-9c90-70ba23ed6af4?api-version=2015-06-15']
      Content-Type: [application/json; charset=utf-8]
      Retry-After: ['10']
      x-ms-ratelimit-remaining-subscription-writes: ['1186']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/publicIPAddresses/publicip1?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"name\": \"publicip1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/publicIPAddresses/publicip1\"\
        ,\r\n  \"etag\": \"W/\\\"3742b259-bdf0-4297-b6ba-bd16628086ac\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"location\": \"\
        local\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\
        ,\r\n    \"resourceGuid\": \"7889de4d-bd23-4be7-90ca-22c81c147058\",\r\n \
        \   \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\"\
        : 4\r\n  }\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"3742b259-bdf0-4297-b6ba-bd16628086ac"]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27cli_test_nic_scenario%27%20and%20name%20eq%20%27None%27%20and%20resourceType%20eq%20%27Microsoft.Network%2FpublicIPAddresses%27&api-version=2016-02-01
  response:
    body: {string: '{"value":[]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {"parameters": {"publicIpAddressType": {"value": "new"},
      "subnetAddressPrefix": {"value": "10.0.0.0/24"}, "vnetAddressPrefix": {"value":
      "10.0.0.0/16"}, "loadBalancerName": {"value": "mylb"}, "frontendIpName": {"value":
      "LoadBalancerFrontEnd"}, "subnetType": {"value": "none"}, "publicIpAddressAllocation":
      {"value": "dynamic"}, "privateIpAddressAllocation": {"value": "dynamic"}, "dnsNameType":
      {"value": "none"}, "_artifactsLocation": {"value": "https://azuresdkci.blob.core.windows.net/templatehost/CreateLb_2016-07-19"}},
      "mode": "Incremental", "templateLink": {"uri": "https://azuresdkci.blob.core.windows.net/templatehost/CreateLb_2016-07-19/azuredeploy.json"}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_nic_scenario/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2015-11-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Resources/deployments/azurecli1491497186.272706572285","name":"azurecli1491497186.272706572285","properties":{"templateLink":{"uri":"https://azuresdkci.blob.core.windows.net/templatehost/CreateLb_2016-07-19/azuredeploy.json","contentVersion":"1.0.0.0"},"templateHash":"14860532557960885618","parameters":{"_artifactsLocation":{"type":"String","value":"https://azuresdkci.blob.core.windows.net/templatehost/CreateLb_2016-07-19"},"backendPoolName":{"type":"String","value":"mylbbepool"},"dnsNameType":{"type":"String","value":"none"},"frontendIpName":{"type":"String","value":"LoadBalancerFrontEnd"},"loadBalancerName":{"type":"String","value":"mylb"},"location":{"type":"String","value":"local"},"privateIpAddress":{"type":"String","value":""},"privateIpAddressAllocation":{"type":"String","value":"dynamic"},"publicIpAddress":{"type":"String","value":"PublicIPmylb"},"publicIpAddressAllocation":{"type":"String","value":"dynamic"},"publicIpAddressType":{"type":"String","value":"new"},"publicIpDnsName":{"type":"String","value":""},"subnet":{"type":"String","value":""},"subnetAddressPrefix":{"type":"String","value":"10.0.0.0/24"},"subnetType":{"type":"String","value":"none"},"tags":{"type":"Object","value":{}},"virtualNetworkName":{"type":"String","value":""},"vnetAddressPrefix":{"type":"String","value":"10.0.0.0/16"}},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2017-04-06T16:46:26.758922Z","duration":"PT0.0978843S","correlationId":"d8f88722-a354-4c41-bf9f-917e54367b64","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"loadBalancers","locations":["local"]}]},{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"deployments","locations":[null]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Resources/deployments/IPmylb","resourceType":"Microsoft.Resources/deployments","resourceName":"IPmylb"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Resources/deployments/Subnetmylb","resourceType":"Microsoft.Resources/deployments","resourceName":"Subnetmylb"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/loadBalancers/mylb","resourceType":"Microsoft.Network/loadBalancers","resourceName":"mylb"}]}}'}
    headers:
      Azure-AsyncOperation: ['https://adminmanagement.local.azurestack.external/subscriptions/2C966402-B31D-4A3E-A3DC-397286C0C609/resourcegroups/cli_test_nic_scenario/providers/Microsoft.Resources/deployments/azurecli1491497186.272706572285/operationStatuses/08587101096988167366?api-version=2015-11-01']
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1185']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_nic_scenario/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08587101096988167366?api-version=2015-11-01
  response:
    body: {string: '{"status":"Running"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_nic_scenario/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2015-11-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Resources/deplo[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/loadBalancers/mylb?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"name\": \"mylb\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/loadBalancers/mylb\"\
        ,\r\n  \"etag\": \"W/\\\"f0c0c9cc-7768-441d-ac0b-43c46367b3e4\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/loadBalancers\",\r\n  \"location\": \"local\"\
        ,\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\":\
        \ \"Succeeded\",\r\n    \"resourceGuid\": \"b0edf9f3-8e3c-410d-879e-788342d7d1a1\"\
        ,\r\n    \"frontendIPConfigurations\": [\r\n      {\r\n        \"name\": \"\
        LoadBalancerFrontEnd\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/loadBalancers/mylb/frontendIPConfigurations/LoadBalancerFrontEnd\"\
        ,\r\n        \"etag\": \"W/\\\"f0c0c9cc-7768-441d-ac0b-43c46367b3e4\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\
        ,\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"\
        publicIPAddress\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/publicIPAddresses/PublicIPmylb\"\
        \r\n          }\r\n        }\r\n      }\r\n    ],\r\n    \"backendAddressPools\"\
        : [\r\n      {\r\n        \"name\": \"mylbbepool\",\r\n        \"id\": \"\
        /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/loadBalancers/mylb/backendAddressPools/mylbbepool\"\
        ,\r\n        \"etag\": \"W/\\\"f0c0c9cc-7768-441d-ac0b-43c46367b3e4\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\
        \r\n        }\r\n      }\r\n    ],\r\n    \"loadBalancingRules\": [],\r\n\
        \    \"probes\": [],\r\n    \"inboundNatRules\": [],\r\n    \"outboundNatRules\"\
        : [],\r\n    \"inboundNatPools\": []\r\n  }\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"f0c0c9cc-7768-441d-ac0b-43c46367b3e4"]
    status: {code: 200, message: OK}
- request:
    body: '{"location": "local", "tags": {}, "id": "/subscriptions/2c966402-b31d-4a3e-a3dc-397286c0c609/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/loadBalancers/mylb",
      "properties": {"probes": [], "inboundNatPools": [], "inboundNatRules": [{"name":
      "rule1", "properties": {"frontendPort": 100, "protocol": "Tcp", "enableFloatingIP":
      false, "frontendIPConfiguration": {"name": "LoadBalancerFrontEnd", "id": "/subscriptions/2c966402-b31d-4a3e-a3dc-397286c0c609/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/loadBalancers/mylb/frontendIPConfigurations/LoadBalancerFrontEnd",
      "properties": {"provisioningState": "Succeeded", "privateIPAllocationMethod":
      "Dynamic", "publicIPAddress": {"id": "/subscriptions/2c966402-b31d-4a3e-a3dc-397286c0c609/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/publicIPAddresses/PublicIPmylb"}},
      "etag": "W/\"f0c0c9cc-7768-441d-ac0b-43c46367b3e4\""}, "backendPort": 100}}],
      "resourceGuid": "b0edf9f3-8e3c-410d-879e-788342d7d1a1", "outboundNatRules":
      [], "provisioningState": "Succeeded", "loadBalancingRules": [], "backendAddressPools":
      [{"properties": {"provisioningState": "Succeeded"}, "name": "mylbbepool", "id":
      "/subscriptions/2c966402-b31d-4a3e-a3dc-397286c0c609/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/loadBalancers/mylb/backendAddressPools/mylbbepool",
      "etag": "W/\"f0c0c9cc-7768-441d-ac0b-43c46367b3e4\""}], "frontendIPConfigurations":
      [{"name": "LoadBalancerFrontEnd", "id": "/subscriptions/2c966402-b31d-4a3e-a3dc-397286c0c609/resourceGroups/cli_test_nic_scenario/providers/M[...]
[...]
- request:
    body: '{"location": "local", "properties": {"enableIPForwarding": false, "ipConfigurations":
      [{"name": "ipconfig1", "properties": {"privateIPAllocationMethod": "Dynamic",
      "subnet": {"id": "/subscriptions/2C966402-B31D-4A3E-A3DC-397286C0C609/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/virtualNetworks/myvnet/subnets/mysubnet"}}}]}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_scena[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/networkInterfaces/cli-test-nic?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"name\": \"cli-test-nic\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/networkInterfaces/cli-test-nic\"\
        ,\r\n  \"etag\": \"W/\\\"9d2b3ca3-b515-441c-b9b4-de70da37ceec\\\"\",\r\n \
        \ \"location\": \"local\",\r\n  \"properties\": {\r\n    \"provisioningState\"\
        : \"Succeeded\",\r\n    \"resourceGuid\": \"1dbfc86c-a151-4d09-ad1b-3af426a840ae\"\
        ,\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"ipconfig1\"\
        ,\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/networkInterfaces/cli-test-nic/ipConfigurations/ipconfig1\"\
        ,\r\n        \"etag\": \"W/\\\"9d2b3ca3-b515-441c-b9b4-de70da37ceec\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\
        ,\r\n          \"privateIPAddress\": \"10.0.0.4\",\r\n          \"privateIPAllocationMethod\"\
        : \"Dynamic\",\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/virtualNetworks/myvnet/subnets/mysubnet\"\
        \r\n          },\r\n          \"primary\": true\r\n        }\r\n      }\r\n\
        \    ],\r\n    \"dnsSettings\": {\r\n      \"dnsServers\": [],\r\n      \"\
        appliedDnsServers\": []\r\n    },\r\n    \"enableIPForwarding\": false\r\n\
        \  },\r\n  \"type\": \"Microsoft.Network/networkInterfaces\"\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"9d2b3ca3-b515-441c-b9b4-de70da37ceec"]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"location": "local", "properties": {"enableIPForwarding": true, "dnsSettings":
      {"internalDnsNameLabel": "test"}, "ipConfigurations": [{"name": "ipconfig1",
      "properties": {"loadBalancerBackendAddressPools": [{"id": "/subscriptions/2c966402-b31d-4a3e-a3dc-397286c0c609/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/loadBalancers/mylb/backendAddressPools/mylbbepool"},
      {"id": "/subscriptions/2c966402-b31d-4a3e-a3dc-397286c0c609/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/loadBalancers/mylb/backendAddressPools/bap1"},
      {"id": "/subscriptions/2c966402-b31d-4a3e-a3dc-397286c0c609/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/loadBalancers/mylb/backendAddressPools/bap2"}],
      "privateIPAddress": "10.0.0.15", "publicIPAddress": {"id": "/subscriptions/2C966402-B31D-4A3E-A3DC-397286C0C609/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/publicIPAddresses/publicip1"},
      "subnet": {"id": "/subscriptions/2c966402-b31d-4a3e-a3dc-397286c0c609/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/virtualNetworks/myvnet/subnets/mysubnet"},
      "loadBalancerInboundNatRules": [{"id": "/subscriptions/2c966402-b31d-4a3e-a3dc-397286c0c609/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/loadBalancers/mylb/inboundNatRules/rule1"},
      {"id": "/subscriptions/2c966402-b31d-4a3e-a3dc-397286c0c609/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/loadBalancers/mylb/inboundNatRules/rule2"}],
      "privateIPAllocationMethod": "Static"}}]}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://adm[...]
[...]
- request:
    body: '{"location": "local", "properties": {"enableIPForwarding": false, "networkSecurityGroup":
      {"id": "/subscriptions/2C966402-B31D-4A3E-A3DC-397286C0C609/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/networkSecurityGroups/mynsg"},
      "ipConfigurations": [{"name": "ipconfig1", "properties": {"privateIPAllocationMethod":
      "Dynamic", "subnet": {"id": "/subscriptions/2C966402-B31D-4A3E-A3DC-397286C0C609/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/virtualNetworks/myvnet/subnets/mysubnet"}}}]}}'
    headers:
      Content-Type: [applicatio[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/networkInterfaces?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"nicbalavmgroup\"\
        ,\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/balavmgroup/prov[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/networkInterfaces?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"cli-test-nic\"\
        ,\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000[...]
[...]
- request:
    body: '{"location": "local", "id": "/subscriptions/2c966402-b31d-4a3e-a3dc-397286c0c609/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/networkInterfaces/cli-test-nic",
      "properties": {"networkSecurityGroup": {"id": "/subscriptions/2C966402-B31D-4A3E-A3DC-397286C0C609/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/networkSecurityGroups/myothernsg"},
      "ipConfigurations": [{"name": "ipconfig1", "id": "/subscriptions/2c966402-b31d-4a3e-a3dc-397286c0c609/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/networkInterfaces/cli-test-nic/ipConfigurations/ipconfig1",
      "properties": {"privateIPAddress": "10.0.0.15", "provisioningState": "Succeeded",
      "privateIPAllocationMethod": "Dynamic", "publicIPAddress": {"id": "/subscriptions/2c966402-b31d-4a3e-a3dc-397286c0c609/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/publicIPAddresses/publicip1"},
      "subnet": {"id": "/subscriptions/2c966402-b31d-4a3e-a3dc-397286c0c609/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/virtualNetworks/myvnet/subnets/mysubnet"}},
      "etag": "W/\"a424f386-bf85-4c3a-9c6e-8f56c088f770\""}], "resourceGuid": "1dbfc86c-a151-4d09-ad1b-3af426a840ae",
      "provisioningState": "Succeeded", "enableIPForwarding": true, "dnsSettings":
      {"appliedDnsServers": [], "dnsServers": [], "internalDnsNameLabel": "noodle"}},
      "etag": "W/\"a424f386-bf85-4c3a-9c6e-8f56c088f770\""}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/networkInterfaces/cli-test-nic?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"name\": \"cli-test-nic\",\r[...]
[...]
- request:
    body: '{"location": "local", "id": "/subscriptions/2c966402-b31d-4a3e-a3dc-397286c0c609/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/networkInterfaces/cli-test-nic",
      "properties": {"networkSecurityGroup": {"id": "/subscriptions/2c966402-b31d-4a3e-a3dc-397286c0c609/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/networkSecurityGroups/myothernsg"},
      "ipConfigurations": [{"name": "ipconfig1", "id": "/subscriptions/2c966402-b31d-4a3e-a3dc-397286c0c609/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/networkInterfaces/cli-test-nic/ipConfigurations/ipconfig1",
      "properties": {"privateIPAddress": "10.0.0.15", "provisioningState": "Succeeded",
      "privateIPAllocationMethod": "Dynamic", "publicIPAddress": {"id": "/subscriptions/2c966402-b31d-4a3e-a3dc-397286c0c609/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/publicIPAddresses/publicip1"},
      "subnet": {"id": "/subscriptions/2c966402-b31d-4a3e-a3dc-397286c0c609/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/virtualNetworks/myvnet/subnets/mysubnet"}},
      "etag": "W/\"ae4f34fa-ef49-4ab0-9c7a-0afa9b52d79b\""}], "resourceGuid": "1dbfc86c-a151-4d09-ad1b-3af426a840ae",
      "provisioningState": "Succeeded", "enableIPForwarding": false, "dnsSettings":
      {"appliedDnsServers": [], "internalFqdn": "noodle.0tuhhp22g4ie1lpm3wtr34vcca.a--x.internal.cloudapp.net",
      "dnsServers": [], "internalDnsNameLabel": "doodle"}}, "etag": "W/\"ae4f34fa-ef49-4ab0-9c7a-0afa9b52d79b\""}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/networkInterfaces/cli-test-nic?api-version=2015-06-15
  respon[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_scenario/providers/Microsoft.Network/networkInterfaces/cli-test-nic?api-version=2015-06-15
  response:
    body: {string: ''}
    headers:
      Azure-AsyncOperation: ['https://adminmanagement.local.azurestack.external/subscriptions/2c966402-b31d-4a3e-a3dc-397286c0c609/providers/Microsoft.Network/locations/local/operations/e3e4006e-d686-4c4d-8770-7e957930a527?api-version=2015-06-15']
      Location: ['https://adminmanagement.local.azurestack.external/subscriptions/2c966402-b31d-4a3e-a3dc-397286c0c609/providers/Microsoft.Network/locations/local/operationResults/e3e4006e-d686-4c4d-8770-7e957930a527?api-version=2015-06-15']
      Retry-After: ['10']
      x-ms-ratelimit-remaining-subscription-writes: ['1174']
[...]
