interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_vnet_test?api-version=2016-02-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_vnet_test","name":"cli_vnet_test","location":"local","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"location": "local", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}, "dhcpOptions": {}, "subnets": [{"name": "default", "properties":
      {"addressPrefix": "10.0.0.0/24"}}]}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_vnet_test/providers/Microsoft.Network/virtualNetworks/test-vnet?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"name\": \"test-vnet\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_vnet_test/providers/Microsoft.Network/virtualNetworks/test-vnet\"\
        ,\r\n  \"etag\": \"W/\\\"9224cdb9-d04e-4f9e-a1d4-55927bbc855d\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"local\"\
        ,\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\":\
        \ \"Updating\",\r\n    \"resourceGuid\": \"a6fc99e6-a05e-4553-925a-533b7b6483e2\"\
        ,\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"\
        10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\"\
        : []\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"default\"\
        ,\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_vnet_test/providers/Microsoft.Network/virtualNetworks/test-vnet/subnets/default\"\
        ,\r\n        \"etag\": \"W/\\\"9224cdb9-d04e-4f9e-a1d4-55927bbc855d\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\"\
        ,\r\n          \"addressPrefix\": \"10.0.0.0/24\"\r\n        }\r\n      }\r\
        \n    ]\r\n  }\r\n}"}
    headers:
      Azure-AsyncOperation: ['https://adminmanagement.local.azurestack.external/subscriptions/2c966402-b31d-4a3e-a3dc-397286c0c609/providers/Microsoft.Network/locations/local/operations/6395cec1-71a2-433d-98ac-d4c64e3718c9?api-version=2015-06-15']
      Content-Type: [application/json; charset=utf-8]
      Retry-After: ['10']
      x-ms-ratelimit-remaining-subscription-writes: ['1195']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/local/operations/6395cec1-71a2-433d-98ac-d4c64e3718c9?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"status\": \"Succeeded\"\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/virtualnetworks?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"vnetbalavmgroup\"\
        ,\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/balavmgroup/providers/Microsoft.Network/virtualNetworks/vnetbalavmgroup\"\
        ,\r\n      \"etag\": \"W/\\\"c4539e09-d68b-4c5c-9022-1e618eed3eef\\\"\",\r\
        \n      \"type\": \"Microsoft.Network/virtualNetworks\",\r\n      \"location\"\
        : \"local\",\r\n      \"properties\": {\r\n        \"provisioningState\":\
        \ \"Succeeded\",\r\n        \"resourceGuid\": \"19e1d79b-9502-4938-a641-32d986b7df99\"\
        ,\r\n        \"addressSpace\": {\r\n          \"addressPrefixes\": [\r\n \
        \           \"10.0.0.0/24\"\r\n          ]\r\n        },\r\n        \"subnets\"\
        : [\r\n          {\r\n            \"name\": \"subnetbalavmgroup\",\r\n   \
        \         \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/balavmgroup/providers/Microsoft.Network/virtualNetworks/vnetbalavmgroup/subnets/subnetbalavmgroup\"\
        ,\r\n            \"etag\": \"W/\\\"c4539e09-d68b-4c5c-9022-1e618eed3eef\\\"\
        \",\r\n            \"properties\": {\r\n              \"provisioningState\"\
        : \"Succeeded\",\r\n              \"addressPrefix\": \"10.0.0.0/24\",\r\n\
        \              \"networkSecurityGroup\": {\r\n                \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/balavmgroup/providers/Microsoft.Network/networkSecurityGroups/nsgbalavmgroup\"\
        \r\n              },\r\n              \"ipConfigurations\": [\r\n        \
        \        {\r\n                  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/balavmgroup/providers/Microsoft.Network/networkInterfaces/nicbalavmgroup/ipConfigurations/ipconfig1\"\
        \r\n                }\r\n              ]\r\n            }\r\n          }\r\
        \n        ]\r\n      }\r\n    },\r\n    {\r\n      \"name\": \"vnetbalavmgroup2\"\
        ,\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resource[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_vnet_test/providers/Microsoft.Network/virtualnetworks?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"test-vnet\"\
        ,\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_vnet_test/providers/Microsoft.Network/virtualNetworks/test-vnet\"\
        ,\r\n      \"etag\": \"W/\\\"2a3ece60-aef1-447a-94f4-b7513e384ed5\\\"\",\r\
        \n      \"type\": \"Microsoft.Network/virtualNetworks\",\r\n      \"location\"\
        : \"local\",\r\n      \"tags\": {},\r\n      \"properties\": {\r\n       \
        \ \"provisioningState\": \"Succeeded\",\r\n        \"resourceGuid\": \"a6fc99e6-a05e-4553-925a-533b7b6483e2\"\
        ,\r\n        \"addressSpace\": {\r\n          \"addressPrefixes\": [\r\n \
        \           \"10.0.0.0/16\"\r\n          ]\r\n        },\r\n        \"dhcpOptions\"\
        : {\r\n          \"dnsServers\": []\r\n        },\r\n        \"subnets\":\
        \ [\r\n          {\r\n            \"name\": \"default\",\r\n            \"\
        id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_vnet_test/providers/Microsoft.Network/virtualNetworks/test-vnet/subnets/default\"\
        ,\r\n            \"etag\": \"W/\\\"2a3ece60-aef1-447a-94f4-b7513e384ed5\\\"\
        \",\r\n            \"properties\": {\r\n              \"provisioningState\"\
        : \"Succeeded\",\r\n              \"addressPrefix\": \"10.0.0.0/24\"\r\n \
        \           }\r\n          }\r\n        ]\r\n      }\r\n    }\r\n  ]\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"name": "test-subnet1", "properties": {"addressPrefix": "20.0.0.0/24"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_vnet_test/providers/Microsoft.Network/virtualnetworks/test-vnet/subnets/test-subnet1?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"name\": \"test-subnet1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_vnet_test/providers/Microsoft.Network/virtualNetworks/test-vnet/subnets/test-subnet1\"\
        ,\r\n  \"etag\": \"W/\\\"7825cbb0-e23f-4cc0-8ac5-268a39e042d7\\\"\",\r\n \
        \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"\
        addressPrefix\": \"20.0.0.0/24\"\r\n  }\r\n}"}
    headers:
      Azure-AsyncOperation: ['https://adminmanagement.local.azurestack.external/subscriptions/2c966402-b31d-4a3e-a3dc-397286c0c609/providers/Microsoft.Network/locations/local/operations/caf7c875-57b8-4830-881e-3882b869ca6d?api-version=2015-06-15']
      Content-Type: [application/json; charset=utf-8]
      Retry-After: ['10']
      x-ms-ratelimit-remaining-subscription-writes: ['1192']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_vnet_test/providers/Microsoft.Network/virtualnetworks/test-vnet/subnets/test-subnet1?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"name\": \"test-subnet1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_vnet_test/providers/Microsoft.Network/virtualNetworks/test-vnet/subnets/test-subnet1\"\
        ,\r\n  \"etag\": \"W/\\\"ac92fce3-bc09-41c3-8b33-32d9a568036b\\\"\",\r\n \
        \ \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"\
        addressPrefix\": \"20.0.0.0/24\"\r\n  }\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"ac92fce3-bc09-41c3-8b33-32d9a568036b"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_vnet_test/providers/Microsoft.Network/virtualnetworks/test-vnet/subnets?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"default\",\r\
        \n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_vnet_test/providers/Microsoft.Network/virtualNetworks/test-vnet/subnets/default\"\
        ,\r\n      \"etag\": \"W/\\\"ac92fce3-bc09-41c3-8b33-32d9a568036b\\\"\",\r\
        \n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\"\
        ,\r\n        \"addressPrefix\": \"10.0.0.0/24\"\r\n      }\r\n    },\r\n \
        \   {\r\n      \"name\": \"test-subnet1\",\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_vnet_test/providers/Microsoft.Network/virtualNetworks/test-vnet/subnets/test-subnet1\"\
        ,\r\n      \"etag\": \"W/\\\"ac92fce3-bc09-41c3-8b33-32d9a568036b\\\"\",\r\
        \n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\"\
        ,\r\n        \"addressPrefix\": \"20.0.0.0/24\"\r\n      }\r\n    }\r\n  ]\r\
        \n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_vnet_test/providers/Microsoft.Network/virtualnetworks/test-vnet/subnets/test-subnet1?api-version=2015-06-15
  response:
    body: {string: ''}
    headers:
      Azure-AsyncOperation: ['https://adminmanagement.local.azurestack.external/subscriptions/2c966402-b31d-4a3e-a3dc-397286c0c609/providers/Microsoft.Network/locations/local/operations/306702a8-de53-4b49-bc63-5ede6fc9524d?api-version=2015-06-15']
      Location: ['https://adminmanagement.local.azurestack.external/subscriptions/2c966402-b31d-4a3e-a3dc-397286c0c609/providers/Microsoft.Network/locations/local/operationResults/306702a8-de53-4b49-bc63-5ede6fc9524d?api-version=2015-06-15']
      Retry-After: ['10']
      x-ms-ratelimit-remaining-subscription-writes: ['1191']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_vnet_test/providers/Microsoft.Network/virtualnetworks?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"value\": []\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
