interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_with_specialized_unmanaged_disk?api-version=2016-02-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk","name":"cli_test_vm_with_specialized_unmanaged_disk","location":"local","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-compute/quickstart-templates/aliases.json
  response:
    body: {string: "{\n  \"$schema\":\"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json\"\
        ,\n  \"contentVersion\":\"1.0.0.0\",\n  \"parameters\":{},\n  \"variables\"\
        :{},\n  \"resources\":[],\n\n  \"outputs\":{\n    \"aliases\":{\n      \"\
        type\":\"object\",\n      \"value\":{\n\n        \"Linux\":{\n          \"\
        CentOS\":{\n            \"publisher\":\"OpenLogic\",\n            \"offer\"\
        :\"CentOS\",\n            \"sku\":\"7.3\",\n            \"version\":\"latest\"\
        \n          },\n          \"CoreOS\":{\n            \"publisher\":\"CoreOS\"\
        ,\n            \"offer\":\"CoreOS\",\n            \"sku\":\"Stable\",\n  \
        \          \"version\":\"latest\"\n          },\n          \"Debian\":{\n\
        \            \"publisher\":\"credativ\",\n            \"offer\":\"Debian\"\
        ,\n            \"sku\":\"8\",\n            \"version\":\"latest\"\n      \
        \    },\n          \"openSUSE-Leap\": {\n            \"publisher\":\"SUSE\"\
        ,\n            \"offer\":\"openSUSE-Leap\",\n            \"sku\":\"42.2\"\
        ,\n            \"version\": \"latest\"\n          },\n          \"RHEL\":{\n\
        \            \"publisher\":\"RedHat\",\n            \"offer\":\"RHEL\",\n\
        \            \"sku\":\"7.3\",\n            \"version\":\"latest\"\n      \
        \    },\n          \"SLES\":{\n            \"publisher\":\"SUSE\",\n     \
        \       \"offer\":\"SLES\",\n            \"sku\":\"12-SP2\",\n           \
        \ \"version\":\"latest\"\n          },\n          \"UbuntuLTS\":{\n      \
        \      \"publisher\":\"Canonical\",\n            \"offer\":\"UbuntuServer\"\
        ,\n            \"sku\":\"16.04-LTS\",\n            \"version\":\"latest\"\n\
        \          }\n        },\n\n        \"Windows\":{\n          \"Win2016Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2016-Datacenter\",\n   \
        \         \"version\":\"latest\"\n          },\n          \"Win2012R2Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2012-R2-Datacenter\",\n\
        \            \"version\":\"latest\"\n          },\n          \"Win2012Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2012-Datacenter\",\n   \
        \         \"version\":\"latest\"\n          },\n          \"Win2008R2SP1\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2008-R2-SP1\",\n       \
        \     \"version\":\"latest\"\n          }\n        }\n      }\n    }\n  }\n\
        }\n"}
    headers:
      Content-Type: [text/plain; charset=utf-8]
      ETag: ['"d6824855d13e27c5258a680eb60f635d088fd05e"']
      Source-Age: ['0']
      X-Fastly-Request-ID: [4f2f85c548be8e148cd9b0879128141eb3a27d73]
      X-Geo-Block-List: ['']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk/providers/Microsoft.Storage/storageAccounts?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"value\": []\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk/providers/Microsoft.Network/virtualnetworks?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"value\": []\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {"parameters": {}, "template": {"contentVersion": "1.0.0.0",
      "parameters": {}, "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "variables": {}, "resources": [{"dependsOn": [], "properties": {"accountType":
      "Premium_LRS"}, "name": "vhdstorageacf2tllseya0su", "apiVersion": "2015-06-15",
      "type": "Microsoft.Storage/storageAccounts", "location": "local", "tags": {}},
      {"dependsOn": [], "properties": {"subnets": [{"properties": {"addressPrefix":
      "10.0.0.0/24"}, "name": "vm1Subnet"}], "addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}},
      "name": "vm1VNET", "apiVersion": "2015-06-15", "type": "Microsoft.Network/virtualNetworks",
      "location": "local", "tags": {}}, {"dependsOn": [], "properties": {"securityRules":
      [{"properties": {"destinationPortRange": "3389", "priority": 1000, "sourceAddressPrefix":
      "*", "destinationAddressPrefix": "*", "protocol": "Tcp", "sourcePortRange":
      "*", "direction": "Inbound", "access": "Allow"}, "name": "rdp"}]}, "name": "vm1NSG",
      "apiVersion": "2015-06-15", "type": "Microsoft.Network/networkSecurityGroups",
      "location": "local", "tags": {}}, {"dependsOn": [], "properties": {"publicIPAllocationMethod":
      "dynamic"}, "apiVersion": "2015-06-15", "name": "vm1PublicIP", "type": "Microsoft.Network/publicIPAddresses",
      "location": "local", "tags": {}}, {"dependsOn": ["Microsoft.Network/virtualNetworks/vm1VNET",
      "Microsoft.Network/networkSecurityGroups/vm1NSG", "Microsoft.Network/publicIpAddresses/vm1PublicIP"],
      "properties": {"networkSecurityGroup": {"id": "/subscriptions/2C966402-B31D-4A3E-A3DC-397286C0C609/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk/providers/Microsoft.Network/networkSecurityGroups/vm1NSG"},
      "ipConfigurations": [{"properties": {"publicIPAddress": {"id": "/subscriptions/2C966402-B31D-4A3E-A3DC-397286C0C609/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk/providers/Microsoft.Network/publicIPAddresses/vm1PublicIP"},
      "subnet": {"id": "/subscriptions/2C966402-B31D-4A3E-A3DC-397286C0C609/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk/providers/Microsoft.Network/virtualNetworks/vm1VNET/subnets/vm1Subnet"},
      "privateIPAllocationMethod": "Dynamic"}, "name": "ipconfigvm1"}]}, "apiVersion":
      "2015-06-15", "name": "vm1VMNic", "type": "Microsoft.Network/networkInterfaces",
      "location": "local", "tags": {}}, {"dependsOn": ["Microsoft.Storage/storageAccounts/vhdstorageacf2tllseya0su",
      "Microsoft.Network/networkInterfaces/vm1VMNic"], "properties": {"osProfile":
      {"adminPassword": "testPassword0", "adminUsername": "ubuntu", "computerName":
      "vm1"}, "networkProfile": {"networkInterfaces": [{"id": "/subscriptions/2C966402-B31D-4A3E-A3DC-397286C0C609/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk/providers/Microsoft.Network/networkInterfaces/vm1VMNic"}]},
      "hardwareProfile": {"vmSize": "Standard_A1"}, "storageProfile": {"osDisk": {"createOption":
      "fromImage", "caching": null, "vhd": {"uri": "https://vhdstorageacf2tllseya0su.blob.local.azurestack.external/vhds/osdisk_BUVaFRKtdd.vhd"},
      "name": "osdisk_BUVaFRKtdd"}, "imageReference": {"publisher": "MicrosoftWindowsServer",
      "offer": "WindowsServer", "sku": "2012-R2-Datacenter", "version": "latest"}}},
      "apiVersion": "2016-03-30", "name": "vm1", "type": "Microsoft.Compute/virtualMachines",
      "location": "local", "tags": {}}], "outputs": {}}, "mode": "Incremental"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_with_specialized_unmanaged_disk/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2016-02-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk/providers/Microsoft.Resources/deployments/vm_deploy_g6I8qojCHB4bhsPN6WdI2534FK3OMCwo","name":"vm_deploy_g6I8qojCHB4bhsPN6WdI2534FK3OMCwo","properties":{"templateHash":"14208383662538962814","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2017-03-31T20:33:52.7322983Z","duration":"PT0.0850119S","correlationId":"45192437-6a14-45c1-8dd8-57d019b6ba4e","providers":[{"namespace":"Microsoft.Storage","resourceTypes":[{"resourceType":"storageAccounts","locations":["local"]}]},{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["local"]},{"resourceType":"networkSecurityGroups","locations":["local"]},{"resourceType":"publicIPAddresses","locations":["local"]},{"resourceType":"networkInterfaces","locations":["local"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachines","locations":["local"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk/providers/Microsoft.Network/virtualNetworks/vm1VNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vm1VNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk/providers/Microsoft.Network/networkSecurityGroups/vm1NSG","resourceType":"Microsoft.Network/networkSecurityGroups","resourceName":"vm1NSG"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk/providers/Microsoft.Network/publicIpAddresses/vm1PublicIP","resourceType":"Microsoft.Network/publicIpAddresses","[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_with_specialized_unmanaged_disk/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08587106144528304941?api-version=2016-02-01
  response:
    body: {string: '{"status":"Running"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_with_specialized_unmanaged_disk/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2016-02-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_with_specialized_unmana[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk/providers/Microsoft.Compute/virtualMachines/vm1?$expand=instanceView&api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"properties\": {\r\n    \"vmId\": \"20db2ce6-740a-4bf1-8c12-0b45afa70931\"\
        ,\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_A1\"\r\n \
        \   },\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n   \
        \     \"publisher\": \"MicrosoftWindowsServer\",\r\n        \"offer\": \"\
        WindowsServer\",\r\n        \"sku\": \"2012-R2-Datacenter\",\r\n        \"\
        version\": \"latest\"\r\n      },\r\n      \"osDisk\": {\r\n        \"osType\"\
        : \"Windows\",\r\n        \"name\": \"osdisk_BUVaFRKtdd\",\r\n        \"createOption\"\
        : \"FromImage\",\r\n        \"vhd\": {\r\n          \"uri\": \"https://vhdstorageacf2tllseya0su.blob.local.azurestack.external/vhds/osdisk_BUVaFRKtdd.vhd\"\
        \r\n        },\r\n        \"caching\": \"ReadWrite\"\r\n      },\r\n     \
        \ \"dataDisks\": []\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\"\
        : \"vm1\",\r\n      \"adminUsername\": \"ubuntu\",\r\n      \"windowsConfiguration\"\
        : {\r\n        \"provisionVMAgent\": true,\r\n        \"enableAutomaticUpdates\"\
        : true\r\n      },\r\n      \"secrets\": []\r\n    },\r\n    \"networkProfile\"\
        : {\"networkInterfaces\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk/providers/Microsoft.Network/networkInterfaces/vm1VMNic\"\
        }]},\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"instanceView\"\
        : {\r\n      \"rdpThumbPrint\": \"ED5A64B3E10E4C794F8CEEF154ED913960D1194B\"\
        ,\r\n      \"vmAgent\": {\r\n        \"vmAgentVersion\": \"2.7.1196.1249\"\
        ,\r\n        \"statuses\": [\r\n          {\r\n            \"code\": \"ProvisioningState/Succeeded\"\
        ,\r\n            \"level\": \"Info\",\r\n            \"displayStatus\": \"\
        Ready\",\r\n            \"message\": \"GuestAgent is running and accepting\
        \ new configurations.\",\r\n            \"time\": \"2017-03-31T20:40:57+00:00\"\
        \r\n          }\r\n        ],\r\n        \"extensionHandlers\": []\r\n   \
        \   },\r\n      \"disks\": [\r\n        {\r\n          \"name\": \"osdisk_BUVaFRKtdd\"\
        ,\r\n          \"statuses\": [\r\n            {\r\n              \"code\"\
        : \"ProvisioningState/Succeeded\",\r\n              \"level\": \"Info\",\r\
        \n              \"displayStatus\": \"Provisioning Succeeded\",\r\n       \
        \       \"time\": \"2017-03-31T20:36:23.3964325+00:00\"\r\n            }\r\
        \n          ]\r\n        }\r\n      ],\r\n      \"statuses\": [\r\n      \
        \  {\r\n          \"code\": \"ProvisioningState/Succeeded/osProvisioningComplete\"\
        ,\r\n          \"level\": \"Info\",\r\n          \"displayStatus\": \"OS provisioning\
        \ complete\",\r\n          \"time\": \"2017-03-31T20:40:34.3920019+00:00\"\
        \r\n        },\r\n        {\r\n          \"code\": \"PowerState/running\"\
        ,\r\n          \"level\": \"Info\",\r\n          \"displayStatus\": \"VM running\"\
        \r\n        }\r\n      ]\r\n    }\r\n  },\r\n  \"type\": \"Microsoft.Compute/virtualMachines\"\
        ,\r\n  \"location\": \"local\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk/providers/Microsoft.Compute/virtualMachines/vm1\"\
        ,\r\n  \"name\": \"vm1\"\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk/providers/Microsoft.Network/networkInterfaces/vm1VMNic?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"name\": \"vm1VMNic\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk/providers/Microsoft.Network/networkInterfaces/vm1VMNic\"\
        ,\r\n  \"etag\": \"W/\\\"16b3e298-f84a-46b6-b555-d1d602f0ee99\\\"\",\r\n \
        \ \"location\": \"local\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n \
        \   \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"f4a91a13-20ea-406f-af6e-d1fd65f7c112\"\
        ,\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"ipconfigvm1\"\
        ,\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk/providers/Microsoft.Network/networkInterfaces/vm1VMNic/ipConfigurations/ipconfigvm1\"\
        ,\r\n        \"etag\": \"W/\\\"16b3e298-f84a-46b6-b555-d1d602f0ee99\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\
        ,\r\n          \"privateIPAddress\": \"10.0.0.4\",\r\n          \"privateIPAllocationMethod\"\
        : \"Dynamic\",\r\n          \"publicIPAddress\": {\r\n            \"id\":\
        \ \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk/providers/Microsoft.Network/publicIPAddresses/vm1PublicIP\"\
        \r\n          },\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk/providers/Microsoft.Network/virtualNetworks/vm1VNET/subnets/vm1Subnet\"\
        \r\n          },\r\n          \"primary\": true\r\n        }\r\n      }\r\n\
        \    ],\r\n    \"dnsSettings\": {\r\n      \"dnsServers\": [],\r\n      \"\
        appliedDnsServers\": []\r\n    },\r\n    \"macAddress\": \"001DD8B71C05\"\
        ,\r\n    \"enableIPForwarding\": false,\r\n    \"networkSecurityGroup\": {\r\
        \n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk/providers/Microsoft.Network/networkSecurityGroups/vm1NSG\"\
        \r\n    },\r\n    \"primary\": true,\r\n    \"virtualMachine\": {\r\n    \
        \  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk/providers/Microsoft.Compute/virtualMachines/vm1\"\
        \r\n    }\r\n  },\r\n  \"type\": \"Microsoft.Network/networkInterfaces\"\r\
        \n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"16b3e298-f84a-46b6-b555-d1d602f0ee99"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk/providers/Microsoft.Network/publicIPAddresses/vm1PublicIP?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"name\": \"vm1PublicIP\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk/providers/Microsoft.Network/publicIPAddresses/vm1PublicIP\"\
        ,\r\n  \"etag\": \"W/\\\"92b341b9-a5d2-49a9-bfad-f9425b7abaf5\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"location\": \"\
        local\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\"\
        : \"Succeeded\",\r\n    \"resourceGuid\": \"de30f470-09bb-4b0a-864d-f8df4f8e7e36\"\
        ,\r\n    \"ipAddress\": \"192.168.102.16\",\r\n    \"publicIPAllocationMethod\"\
        : \"Dynamic\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"ipConfiguration\"\
        : {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk/providers/Microsoft.Network/networkInterfaces/vm1VMNic/ipConfigurations/ipconfigvm1\"\
        \r\n    },\r\n    \"allocatedTenants\": [\r\n      {\r\n        \"id\": \"\
        /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups//providers/Microsoft.Compute/tenants/20db2ce6-740a-4bf1-8c12-0b45afa70931\"\
        \r\n      }\r\n    ]\r\n  }\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"92b341b9-a5d2-49a9-bfad-f9425b7abaf5"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk/providers/Microsoft.Compute/virtualMachines/vm1?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"properties\": {\r\n    \"vmId\": \"20db2ce6-740a-4bf1-8c12-0b45afa70931\"\
        ,\r\n    \"hardwareProfile\[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk/providers/Microsoft.Compute/virtualMachines/vm1?api-version=2015-06-15
  response:
    body: {string: ''}
    headers:
      Azure-AsyncOperation: ['https://adminmanagement.local.azurestack.external/subscriptions/2c966402-b31d-4a3e-a3dc-397286c0c609/providers/Microsoft.Compute/locations/local/operations/3b87806c-c599-4769-a8c3-f2757d5f3cf2?api-version=2015-06-15']
      Location: ['https://adminmanagement.local.azurestack.external/subscriptions/2c966402-b31d-4a3e-a3dc-397286c0c609/providers/Microsoft.Compute/locations/local/operations/3b87806c-c599-4769-a8c3-f2757d5f3cf2?monitor=true&api-version=2015-06-15']
      x-ms-ratelimit-remaining-subscription-writes: ['1180']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/local/operations/3b87806c-c599-4769-a8c3-f2757d5f3cf2?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"operationId\": \"3b87806c-c599-4769-a8c3-f2757d5f3cf2\"\
        ,\r\n  \"startTime\": \"2017-03-31T20:41:09.0979726+00:00\",\r\n  \"status\"\
        : \"InProgress\"\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
