interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_table_scenario_test/providers/Microsoft.Storage/storageAccounts/dummystorage/listKeys?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"key1\": \"zUso3inhAscBOyR+2VTkC9bIc5shDZNIdRfcqzlZ+LdCTbuWEz90mwHoTP2ZMjjrI/rxV8NcOZJr5dqJu/kjFw==\"\
        ,\r\n  \"key2\": \"rFhRQ570gWeWf6Fn5yMfGWwPqxAgUBk8Vsm6bOZrOkTz6znMvFo7mboheQzWswHk/uOM9OQG+ydmmTqsp47d7A==\"\
        \r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1182']
    status: {code: 200, message: OK}
- request:
    body: '{"TableName": "table1"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Wed, 29 Mar 2017 19:10:16 GMT']
      x-ms-version: ['2015-04-05']
    method: POST
    uri: https://dummystorage.table.local.azurestack.external/Tables
  response:
    body: {string: ''}
    headers:
      Location: ['https://vcrstorage653468928832.table.local.azurestack.external/Tables(''table1'')']
      Preference-Applied: [return-no-content]
      x-ms-version: ['2015-04-05']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Wed, 29 Mar 2017 19:13:26 GMT']
      x-ms-version: ['2015-04-05']
    method: GET
    uri: https://dummystorage.table.local.azurestack.external/Tables('table1')
  response:
    body: {string: '{"TableName":"table1"}'}
    headers:
      Content-Type: [application/json;odata=nometadata;streaming=true;charset=utf-8]
      DataServiceVersion: [3.0;]
      x-ms-version: ['2015-04-05']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Wed, 29 Mar 2017 19:13:50 GMT']
      x-ms-version: ['2015-04-05']
    method: GET
    uri: https://dummystorage.table.local.azurestack.external/Tables
  response:
    body: {string: '{"value":[{"TableName":"table1"}]}'}
    headers:
      Content-Type: [application/json;odata=nometadata;streaming=true;charset=utf-8]
      DataServiceVersion: [3.0;]
      x-ms-version: ['2015-04-05']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Wed, 29 Mar 2017 19:14:57 GMT']
      x-ms-version: ['2015-04-05']
    method: GET
    uri: https://dummystorage.table.local.azurestack.external/table1?comp=acl
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><SignedIdentifiers\
        \ />"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2015-04-05']
    status: {code: 200, message: OK}
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>test1</Id><AccessPolicy><Permission>a</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Wed, 29 Mar 2017 19:15:12 GMT']
      x-ms-version: ['2015-04-05']
    method: PUT
    uri: https://dummystorage.table.local.azurestack.external/table1?comp=acl
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2015-04-05']
    status: {code: 204, message: No Content}
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>test2</Id><AccessPolicy><Start>2016-01-01T00:00Z</Start></AccessPolicy></SignedIdentifier><SignedIdentifier><Id>test1</Id><AccessPolicy><Permission>a</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Wed, 29 Mar 2017 19:15:19 GMT']
      x-ms-version: ['2015-04-05']
    method: PUT
    uri: https://dummystorage.table.local.azurestack.external/table1?comp=acl
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2015-04-05']
    status: {code: 204, message: No Content}
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>test2</Id><AccessPolicy><Start>2016-01-01T00:00:00Z</Start></AccessPolicy></SignedIdentifier><SignedIdentifier><Id>test3</Id><AccessPolicy><Expiry>2018-01-01T00:00Z</Expiry></AccessPolicy></SignedIdentifier><SignedIdentifier><Id>test1</Id><AccessPolicy><Permission>a</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Wed, 29 Mar 2017 19:15:25 GMT']
      x-ms-version: ['2015-04-05']
    method: PUT
    uri: https://dummystorage.table.local.azurestack.external/table1?comp=acl
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2015-04-05']
    status: {code: 204, message: No Content}
[...]
- request:
    body: '{"name": "test", "value": "something", "PartitionKey": "001", "RowKey":
      "001"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Wed, 29 Mar 2017 19:16:34 GMT']
      x-ms-version: ['2015-04-05']
    method: POST
    uri: https://dummystorage.table.local.azurestack.external/table1
  response:
    body: {string: ''}
    headers:
      ETag: [W/"datetime'2017-03-29T19%3A16%3A34.5415899Z'"]
      Location: ['https://vcrstorage653468928832.table.local.azurestack.external/table1(PartitionKey=''001'',RowKey=''001'')']
      Preference-Applied: [return-no-content]
      x-ms-version: ['2015-04-05']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Wed, 29 Mar 2017 19:16:40 GMT']
      x-ms-version: ['2015-04-05']
    method: GET
    uri: https://dummystorage.table.local.azurestack.external/table1(PartitionKey='001',RowKey='001')
  response:
    body: {string: '{"odata.metadata":"https://vcrstorage653468928832.table.local.azurestack.external/$metadata#table1/@Element","odata.etag":"W/\"datetime''2017-03-29T19%3A16%3A34.5415899Z''\"","PartitionKey":"001","RowKey":"001","Timestamp":"2017-03-29T19:16:34.5415899Z","name":"test","value":"something"}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      DataServiceVersion: [3.0;]
      ETag: [W/"datetime'2017-03-29T19%3A16%3A34.5415899Z'"]
      x-ms-version: ['2015-04-05']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Wed, 29 Mar 2017 19:16:46 GMT']
      x-ms-version: ['2015-04-05']
    method: GET
    uri: https://dummystorage.table.local.azurestack.external/table1(PartitionKey='001',RowKey='001')?%24select=name
  response:
    body: {string: '{"odata.metadata":"https://vcrstorage653468928832.table.local.azurestack.external/$metadata#table1/@Element","odata.etag":"W/\"datetime''2017-03-29T19%3A16%3A34.5415899Z''\"","name":"test"}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      DataServiceVersion: [3.0;]
      ETag: [W/"datetime'2017-03-29T19%3A16%3A34.5415899Z'"]
      x-ms-version: ['2015-04-05']
    status: {code: 200, message: OK}
- request:
    body: '{"name": "test", "value": "newval", "PartitionKey": "001", "RowKey": "001"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      If-Match: ['*']
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Wed, 29 Mar 2017 19:16:52 GMT']
      x-ms-version: ['2015-04-05']
    method: MERGE
    uri: https://dummystorage.table.local.azurestack.external/table1(PartitionKey='001',RowKey='001')
  response:
    body: {string: ''}
    headers:
      ETag: [W/"datetime'2017-03-29T19%3A16%3A52.9843662Z'"]
      x-ms-version: ['2015-04-05']
    status: {code: 204, message: No Content}
[...]
- request:
    body: '{"cat": "hat", "PartitionKey": "001", "RowKey": "001"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      If-Match: ['*']
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Wed, 29 Mar 2017 19:17:05 GMT']
      x-ms-version: ['2015-04-05']
    method: PUT
    uri: https://dummystorage.table.local.azurestack.external/table1(PartitionKey='001',RowKey='001')
  response:
    body: {string: ''}
    headers:
      ETag: [W/"datetime'2017-03-29T19%3A17%3A05.6260507Z'"]
      x-ms-version: ['2015-04-05']
    status: {code: 204, message: No Content}
[...]
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Wed, 29 Mar 2017 19:17:24 GMT']
      x-ms-version: ['2015-04-05']
    method: GET
    uri: https://dummystorage.table.local.azurestack.external/table1(PartitionKey='001',RowKey='001')
  response:
    body: {string: '{"odata.error":{"code":"ResourceNotFound","message":{"lang":"en-US","value":"The
        specified resource does not exist.\nRequestId:83ef6a5a-a3c4-0965-6130-ee0f0b0976d5\nTime:2017-03-29T19:17:24.6323287Z"},"innererror":{"message":"","type":"Microsoft.Cis.Services.Nephos.Table.Service.Protocols.Rest.TableServiceGeneralException","stacktrace":"   at
        Microsoft.ObjectStorage.FrontEnd.Odl.TableProvider.Handlers.RetrieveRequestHandler`1.WriteResult(OperationResult`1
        result, Boolean disposeWriter)\r\n   at Microsoft.ObjectStorage.FrontEnd.Odl.TableProvider.Handlers.RequestHandler`1.<ProcessAsync>d__6.MoveNext()\r\n---
        End of stack trace from previous location where exception was thrown ---\r\n   at
        System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task)\r\n   at
        System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task
        task)\r\n   at Microsoft.ObjectStorage.FrontEnd.Odl.TableProvider.Handlers.RootRequestHandler.<ProcessAsync>d__12.MoveNext()"}}}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      DataServiceVersion: [3.0;]
      x-ms-version: ['2015-04-05']
    status: {code: 404, message: Not Found}
[...]
