interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_queue_scenario_test/providers/Microsoft.Storage/storageAccounts/dummystorage/listKeys?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"key1\": \"JkHezkKZEtqVWnIy0DYoHzAzxA5cJgDFQiUYw3Y990fDiel0QhT/8esmLPzmDXqlPN145L9IwrHy2hhMEwzDsA==\"\
        ,\r\n  \"key2\": \"+wuiYl/y6pRpa2f/WHdEmebvg5QJ8Sy5Nkbg/PPru3W7mQyOc7QBJ17dHHOtOM39cYprNjbg1EvzOEHIDl6iqg==\"\
        \r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1176']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 29 Mar 2017 19:33:42 GMT']
      x-ms-meta-a: [b]
      x-ms-meta-c: [d]
      x-ms-version: ['2015-04-05']
    method: PUT
    uri: https://dummystorage.queue.local.azurestack.external/queue1
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2015-04-05']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 29 Mar 2017 19:33:43 GMT']
      x-ms-version: ['2015-04-05']
    method: GET
    uri: https://dummystorage.queue.local.azurestack.external/queue1?comp=metadata
  response:
    body: {string: ''}
    headers:
      x-ms-approximate-messages-count: ['0']
      x-ms-meta-a: [b]
      x-ms-meta-c: [d]
      x-ms-version: ['2015-04-05']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 29 Mar 2017 19:33:44 GMT']
      x-ms-version: ['2015-04-05']
    method: GET
    uri: https://dummystorage.queue.local.azurestack.external/?comp=list
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://vcrstorage935468884430.queue.local.azurestack.external/\"\
        ><Queues><Queue><Name>queue1</Name></Queue></Queues><NextMarker /></EnumerationResults>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2015-04-05']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 29 Mar 2017 19:33:45 GMT']
      x-ms-meta-e: [f]
      x-ms-meta-g: [h]
      x-ms-version: ['2015-04-05']
    method: PUT
    uri: https://dummystorage.queue.local.azurestack.external/queue1?comp=metadata
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2015-04-05']
    status: {code: 204, message: No Content}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 29 Mar 2017 19:33:46 GMT']
      x-ms-version: ['2015-04-05']
    method: GET
    uri: https://dummystorage.queue.local.azurestack.external/queue1?comp=acl
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><SignedIdentifiers\
        \ />"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2015-04-05']
    status: {code: 200, message: OK}
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>test1</Id><AccessPolicy><Start>2016-01-01T00:00Z</Start><Expiry>2016-05-01T00:00Z</Expiry><Permission>raup</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      x-ms-date: ['Wed, 29 Mar 2017 19:33:47 GMT']
      x-ms-version: ['2015-04-05']
    method: PUT
    uri: https://dummystorage.queue.local.azurestack.external/queue1?comp=acl
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2015-04-05']
    status: {code: 204, message: No Content}
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>test message</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Wed, 29 Mar 2017 19:33:51 GMT']
      x-ms-version: ['2015-04-05']
    method: POST
    uri: https://dummystorage.queue.local.azurestack.external/queue1/messages
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2015-04-05']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 29 Mar 2017 19:33:51 GMT']
      x-ms-version: ['2015-04-05']
    method: GET
    uri: https://dummystorage.queue.local.azurestack.external/queue1/messages?peekonly=true
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>4278eab4-9c0c-42d7-beb4-02944236ad24</MessageId><InsertionTime>Wed,\
        \ 29 Mar 2017 19:33:51 GMT</InsertionTime><ExpirationTime>Wed, 05 Apr 2017\
        \ 19:33:51 GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>test\
        \ message</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2015-04-05']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 29 Mar 2017 19:33:52 GMT']
      x-ms-version: ['2015-04-05']
    method: GET
    uri: https://dummystorage.queue.local.azurestack.external/queue1/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>4278eab4-9c0c-42d7-beb4-02944236ad24</MessageId><InsertionTime>Wed,\
        \ 29 Mar 2017 19:33:51 GMT</InsertionTime><ExpirationTime>Wed, 05 Apr 2017\
        \ 19:33:51 GMT</ExpirationTime><PopReceipt>YaOVd8Oo0gEBAAAA</PopReceipt><TimeNextVisible>Wed,\
        \ 29 Mar 2017 19:34:22 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>test\
        \ message</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2015-04-05']
    status: {code: 200, message: OK}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>new message!</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Wed, 29 Mar 2017 19:33:53 GMT']
      x-ms-version: ['2015-04-05']
    method: PUT
    uri: https://dummystorage.queue.local.azurestack.external/queue1/messages/4278eab4-9c0c-42d7-beb4-02944236ad24?visibilitytimeout=1&popreceipt=YaOVd8Oo0gEBAAAA
  response:
    body: {string: ''}
    headers:
      x-ms-popreceipt: [YfyhZsOo0gEBAAAA]
      x-ms-time-next-visible: ['Wed, 29 Mar 2017 19:33:54 GMT']
      x-ms-version: ['2015-04-05']
    status: {code: 204, message: No Content}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 29 Mar 2017 19:33:57 GMT']
      x-ms-version: ['2015-04-05']
    method: GET
    uri: https://dummystorage.queue.local.azurestack.external/queue1/messages?numofmessages=32&peekonly=true
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>4278eab4-9c0c-42d7-beb4-02944236ad24</MessageId><InsertionTime>Wed,\
        \ 29 Mar 2017 19:33:51 GMT</InsertionTime><ExpirationTime>Wed, 05 Apr 2017\
        \ 19:33:51 GMT</ExpirationTime><DequeueCount>1</DequeueCount><MessageText>new\
        \ message!</MessageText></QueueMessage><QueueMessage><MessageId>cf7216f9-3dcb-4d42-a1a7-c1582281d43d</MessageId><InsertionTime>Wed,\
        \ 29 Mar 2017 19:33:56 GMT</InsertionTime><ExpirationTime>Wed, 05 Apr 2017\
        \ 19:33:56 GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>second\
        \ message</MessageText></QueueMessage><QueueMessage><MessageId>55763f56-d048-47b0-81aa-fb93793f7811</MessageId><InsertionTime>Wed,\
        \ 29 Mar 2017 19:33:56 GMT</InsertionTime><ExpirationTime>Wed, 05 Apr 2017\
        \ 19:33:56 GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>third\
        \ message</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2015-04-05']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 29 Mar 2017 19:33:58 GMT']
      x-ms-version: ['2015-04-05']
    method: DELETE
    uri: https://dummystorage.queue.local.azurestack.external/queue1/messages/4278eab4-9c0c-42d7-beb4-02944236ad24?popreceipt=B%2FzAesOo0gECAAAA
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2015-04-05']
    status: {code: 204, message: No Content}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 29 Mar 2017 19:34:01 GMT']
      x-ms-version: ['2015-04-05']
    method: GET
    uri: https://dummystorage.queue.local.azurestack.external/queue1?comp=metadata
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>QueueNotFound</Code><Message>The\
        \ specified queue does not exist.\nRequestId:d55d77a3-28c7-03c1-4469-0d8c998fbc1e\n\
        Time:2017-03-29T19:34:01.4240306Z</Message><ExceptionDetails><ExceptionMessage>Exception\
        \ of type 'Microsoft.Cis.Services.Nephos.Common.Storage.ContainerNotFoundException'\
        \ was thrown.</ExceptionMessage><StackTrace>Microsoft.Cis.Services.Nephos.Common.Storage.ContainerNotFoundException:\
        \ Exception of type 'Microsoft.Cis.Services.Nephos.Common.Storage.ContainerNotFoundException'\
        \ was thrown. ---&gt; Microsoft.Cis.Services.Nephos.Common.Storage.ContainerNotFoundException:\
        \ Exception of type 'Microsoft.Cis.Services.Nephos.Common.Storage.ContainerNotFoundException'\
        \ was thrown. ---&gt; Microsoft.Cis.Services.Nephos.Common.Storage.ContainerNotFoundException:\
        \ Ex[...]
